openapi: 3.0.3
info:
  title: Dinaria Payment API
  version: 2.0.0
  description: |
    API for receiving funds from customers (pay-in) and sending money out (payouts).

    **Supported scopes**
    - **Argentina (ARS)** — CBU/CVU bank transfer. Customer is identified by CUIT or DNI.
    - **Brazil (BRL)** — PIX instant transfer. Customer is identified by CPF or CNPJ.

    **Key rules**
    - Payments are single-use. Create a new payment for each attempt.
    - Always confirm payment status via webhooks or GET /payments/{transactionId}.
      Do not fulfil orders based on `started` status alone.
    - Use `Idempotency-Key` on all POST requests to safely retry without creating duplicates.
  contact:
    email: operations@dinaria.com

servers:
  - url: https://api.dinaria.com
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Account
    description: Query account-level balance and settings.
  - name: Payments
    description: Create and retrieve pay-in orders.
  - name: Payouts
    description: Send money out to customers via bank rails.
  - name: Merchant Settings
    description: Configure per-merchant reconciliation behaviour.
  - name: Webhooks
    description: Register webhook URLs and receive payment events.
  - name: Stablecoin Settlement
    description: |
      Convert BRL from your Dinaria balance into USDT and deliver it on-chain to any Tron address.
      The on-ramp executes synchronously through the Exchange — no polling required.
      Use `GET /payouts/rates` for indicative prices, then `POST /payouts` with `destination.identifierType: tron_address` to execute.
  - name: Blockchain Access
    description: |
      Authenticated access to Dinaria's Tron full node. Query TRX and TRC-20 balances, check
      allowances, broadcast pre-signed transactions, and check submission status — all without
      exposing your private key to Dinaria. Base path: `/v1/chains`.

# ─────────────────────────────────────────────────────────────
# Components
# ─────────────────────────────────────────────────────────────
components:

  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: |
        Include your API key in the Authorization header:

            Authorization: Bearer di_live_YOUR_KEY

        Keys are either account-level (require `merchantId` in the request body)
        or merchant-scoped (resolve `merchantId` automatically).
        Do not expose your key in client-side code.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        UUID v4 that prevents duplicate records on retry.
        When the same key is reused with an identical body, the original response is returned.
        If the body differs, the request is rejected with 409.
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000

    TransactionIdPath:
      name: transactionId
      in: path
      required: true
      description: The `transactionId` returned when the payment was created.
      schema:
        type: string

    PayoutIdPath:
      name: payoutId
      in: path
      required: true
      description: The `id` returned when the payout was created.
      schema:
        type: string

    MerchantIdPath:
      name: id
      in: path
      required: true
      description: Merchant ID.
      schema:
        type: string

  # ── Schemas ───────────────────────────────────────────────

  schemas:

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: invalid_request
            message:
              type: string
              description: Human-readable description.
              example: customer.documentNumber must be a valid cuit or dni for AR.
            param:
              type: string
              nullable: true
              description: Field name that caused the error, when applicable.
              example: customer.documentNumber

    Customer:
      type: object
      required:
        - name
        - documentNumber
      properties:
        id:
          type: string
          readOnly: true
          description: Platform-assigned customer ID (returned only).
        name:
          type: string
          description: Full name of the payer.
          example: Ana Martínez
        documentNumber:
          type: string
          description: |
            **ARS**: CUIT (11 digits, e.g. `20221370075`) or DNI (7–8 digits, e.g. `22137007`).
            **BRL**: CPF (11 digits, e.g. `12345678901`) or CNPJ (14 digits, e.g. `58084921000160`).
            Format is validated server-side including checksum for CUIT, CPF, and CNPJ.
            Sending a wrong value will result in `400 invalid_document`.
          example: "20221370075"
        documentType:
          type: string
          enum: [CUIT, CUIL, DNI, CPF, CNPJ]
          description: |
            Optional hint that speeds up document type detection.
            If omitted, the type is inferred from the number length and format.
        email:
          type: string
          format: email
        phoneNumber:
          type: string

    PaymentDataARS:
      type: object
      description: Bank transfer instructions for ARS payments.
      properties:
        type:
          type: string
          enum: [transfer_to_cbu]
        cbu:
          type: string
          description: Dinaria's 22-digit receiving CBU. Customer must transfer funds here.
          example: "4310009922100000122004"
        reference:
          type: string
          description: |
            Reference code the customer must include in the transfer description/concept.
            This is how the reconciler links the incoming bank transfer to this order.
          example: "9032000000000000023"

    PaymentDataBRL:
      type: object
      description: |
        PIX collection instructions for BRL payments. Two shapes are returned
        depending on `paymentMethod`:

        - `paymentMethod=instant_bank_transfer` (default) → `type=pix_transfer`:
          a static PIX deposit key (`pixKey` / `pixKeyType`) plus a `reference`
          to include in the transfer description. Reconciled by CPF/CNPJ + amount.
        - `paymentMethod=pix_qr` → `type=pix_qr`: a per-order dynamic BR-Code
          (`qrCodeString` + `qrCodeBase64`) that the customer scans in their
          bank app. Expires in 15 minutes. Reconciled by the QR's embedded
          `externalId` for guaranteed 1:1 matching.
      properties:
        type:
          type: string
          enum: [pix_transfer, pix_qr]
          description: |
            - `pix_transfer`: returned for `paymentMethod=instant_bank_transfer`.
            - `pix_qr`: returned for `paymentMethod=pix_qr`.
        pixKey:
          type: string
          description: |
            Present only when `type=pix_transfer`. Dinaria's static PIX deposit key.
            The customer initiates a PIX transfer to this key from their bank app.
          example: "bc8ba248-fb33-4022-bea1-c9fab2efd341"
        pixKeyType:
          type: string
          enum: [random]
          description: Present only when `type=pix_transfer`. Type of the PIX key (EVP/random).
        qrCodeString:
          type: string
          description: |
            Present only when `type=pix_qr`. The EMV/BR-Code TLV payload as a
            single string — render it with any standard QR encoder, or display
            it verbatim for "copy-and-paste PIX". Customers scan this with their
            bank app to pay the exact amount.
          example: "00020101021226790014br.gov.bcb.pix2557brcode.starkinfra.com/v2/...6304ABCD"
        qrCodeBase64:
          type: string
          description: |
            Present only when `type=pix_qr`. Base64-encoded PNG of the QR code,
            ready to embed directly in HTML via
            `<img src="data:image/png;base64,...">` — no extra rendering step.
        qrExpiresAt:
          type: string
          format: date-time
          description: |
            Present only when `type=pix_qr`. ISO 8601 timestamp at which the QR
            becomes invalid (15 minutes from creation). For `pix_qr` orders this
            value is identical to the order's top-level `expiresAt` /
            `expirationDate`. After this instant the merchant must create a
            new payment if the customer wants to retry.
          example: "2026-05-13T16:34:26Z"
        reference:
          type: string
          description: |
            The transactionId. For `pix_transfer` payments, instruct the customer
            to include this in the PIX transfer description so the reconciler can
            match the payment. For `pix_qr` payments, the reference is already
            embedded in the QR code's `externalId` — exposed here for traceability.
          example: "f90c7c31-7a38-46dc-99ba-188a4c99da29"

    PaymentRequest:
      type: object
      required:
        - amount
        - currency
        - customer
      properties:
        merchantId:
          type: string
          description: |
            Target merchant ID. Required when using an account-level API key.
            Automatically resolved when using a merchant-scoped key.
          example: acme_ars_merch1
        amount:
          type: string
          description: Decimal string with up to 2 decimal places. Must be > 0.
          example: "1500.00"
        currency:
          type: string
          enum: [ARS, BRL]
          description: ISO 4217 currency code.
        paymentMethod:
          type: string
          enum: [bank_transfer, instant_bank_transfer, pix_qr]
          description: |
            Payment method to use. If omitted, the platform selects the default for the currency:
            - `ARS` → `bank_transfer` (CBU/CVU bank transfer).
            - `BRL` → `instant_bank_transfer` (static PIX deposit key; reconciled
              by CPF/CNPJ + amount).

            **Brazil only — opt-in alternative:**
            - `pix_qr`: a per-order **dynamic** PIX QR (BR-Code) is minted at
              creation time. The response carries `paymentData.qrCodeString` and
              `paymentData.qrCodeBase64`. Reconciliation uses the QR's embedded
              `externalId` for guaranteed 1:1 matching. The QR (and the order)
              expires in 15 minutes regardless of `expiresAfter` / `expiration`.

            `pix_qr` is **not yet available for ARS** — Coinag QR support is
            on the roadmap.
        customer:
          $ref: "#/components/schemas/Customer"
        externalId:
          type: string
          description: Your internal order reference. Returned in responses and webhooks.
          example: ORD-1001
        allowOverUnder:
          type: boolean
          default: false
          description: |
            **ARS only.** When `true`, the reconciler will match this order even if the
            received transfer amount differs slightly from `amount` (rounding, bank fees).
            The most recently created matching order takes priority.
        expiresAfter:
          type: integer
          description: |
            Lifetime of this payment order in **seconds** from creation time.
            When set, the order will transition to `expired` status after this many seconds.
            Takes precedence over the legacy `expiration` field and the merchant's
            `defaultOrderExpirationHours` setting.
            If neither `expiresAfter` nor `expiration` is provided, the platform default
            applies (currently 24 hours / 86 400 s).

            **Note:** ignored when `paymentMethod=pix_qr` — the QR code carries
            its own hard 15-minute expiry and the order expiration is aligned
            to it so the customer can never see a still-open order with a dead
            QR.
          example: 3600
        expiration:
          type: string
          format: date-time
          description: |
            **Deprecated in favour of `expiresAfter`.**
            ISO 8601 absolute datetime after which the order expires.
            Ignored for `paymentMethod=pix_qr` (forced to creation + 15 minutes).
        metadata:
          type: object
          description: Free-form key-value pairs. Returned in responses and webhooks.
          additionalProperties:
            type: string
        successUrl:
          type: string
          format: uri
          description: Redirect URL on payment success (for redirect-based flows).
        cancelUrl:
          type: string
          format: uri
          description: Redirect URL on payment cancellation.

    PaymentListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/PaymentResponse"
        hasMore:
          type: boolean
          description: |
            `true` if more records exist after this page. Fetch the next page by
            passing the `transactionId` of the last item as `startingAfter`.

    PaymentResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: Platform-generated payment identifier. Store this.
          example: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId:
          type: string
          example: acme_ars_merch1
        externalId:
          type: string
          description: Your internal order reference, mirrored from the request.
          example: ORD-1001
        status:
          type: string
          enum: [started, confirmed, cancelled, expired]
          description: |
            - `started`: Payment created, awaiting customer transfer.
            - `confirmed`: Transfer received and matched. Terminal.
            - `cancelled`: Mismatched or rejected. Terminal.
            - `expired`: Order expired before matching. Terminal.
        amount:
          type: string
          example: "1500.00"
        currency:
          type: string
          example: ARS
        paymentMethod:
          type: string
          description: Resolved payment method code.
          example: bank_transfer
        rail:
          type: string
          description: Resolved rail code from the routing table.
          example: ar_bank_transfer
        bankSystemReference:
          type: string
          description: |
            **ARS**: Banking system reference number included in the transfer instructions.
            Not present for BRL.
          example: "9032000000000000023"
        bankSystemTrxId:
          type: string
          description: |
            Banking system transaction ID, populated when the payment is confirmed.
            **ARS**: COELSA clearing ID assigned on settlement.
            **BRL**: not currently populated.
        paymentData:
          oneOf:
            - $ref: "#/components/schemas/PaymentDataARS"
            - $ref: "#/components/schemas/PaymentDataBRL"
          description: Transfer instructions to display to the customer.
        customer:
          $ref: "#/components/schemas/Customer"
        receivedAmount:
          type: string
          description: Actual amount received (may differ when `allowOverUnder` is true).
        receivedAt:
          type: string
          format: date-time
          description: Timestamp when the transfer was matched.
        reconciliationStatus:
          type: string
          description: Internal reconciliation detail (e.g. `matched`, `matched_over_under_over`).
        refunded:
          type: boolean
        refundedAmount:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp when this payment order will expire (or has expired).
            Identical to `expirationDate`; prefer this field for new integrations.
        expirationDate:
          type: string
          format: date-time
          description: "Deprecated alias for `expiresAt`. Both fields are always present."
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the payment order was created.

    PayoutDestination:
      type: object
      required:
        - identifierType
        - identifierValue
      description: |
        Canonical payout destination. Use this object for all new integrations.

        **ARS identifier types**
        | `identifierType` | Meaning |
        |---|---|
        | `cbu` | 22-digit CBU or CVU number |
        | `alias_cbu` | CBU alias (e.g. `mialiascbu`) — auto-resolved before transfer |

        **BRL (PIX) identifier types**
        | `identifierType` | Meaning |
        |---|---|
        | `pix_key_cpf` | CPF number (11 digits) |
        | `pix_key_cnpj` | CNPJ number (14 digits) |
        | `pix_key_email` | Email address registered as PIX key |
        | `pix_key_phone` | Phone number registered as PIX key |
        | `pix_key_random` | Random 36-char UUID PIX key |

        For `pix_key_cpf` and `pix_key_cnpj` the `taxId` field is inferred from
        `identifierValue` if not provided. For other PIX key types `taxId` is required.

        **On-ramp (BRL → USDT)**
        | `identifierType` | Meaning |
        |---|---|
        | `tron_address` | Tron wallet address (`T` + 33 base58 chars). Triggers synchronous BRL→USDT conversion. |
      properties:
        identifierType:
          type: string
          example: cbu
        identifierValue:
          type: string
          example: "0070327530004025541644"
        taxId:
          type: string
          description: Recipient CPF/CNPJ (BRL) or CUIT (ARS).
          example: "20221370075"
        taxIdCountry:
          type: string
          description: ISO 3166-1 alpha-2 country code of the tax ID. Inferred when possible.
          example: AR
        name:
          type: string
          description: Recipient name. Auto-resolved for ARS CBU/alias if not provided.
          example: Ana Martínez
        destinationCurrency:
          type: string
          description: "On-ramp only. Destination currency. `USDT` is the only supported value."
          example: USDT
        network:
          type: string
          description: "On-ramp only. Tron network: `mainnet` (default) or `shasta` (testnet)."
          enum: [mainnet, shasta]
          example: mainnet
        settlement:
          type: string
          description: "On-ramp only. Settlement window: `D0` = same-day (default), `D1` = next business day, `D2` = two business days."
          enum: [D0, D1, D2]
          example: D0

    PayoutRequest:
      type: object
      required:
        - amount
        - currency
        - destination
      properties:
        amount:
          type: string
          description: Decimal string. Must be ≤ merchant balance.
          example: "500.00"
        currency:
          type: string
          enum: [ARS, BRL]
        destination:
          $ref: "#/components/schemas/PayoutDestination"
        externalId:
          type: string
          example: PAY-OUT-001
        customerId:
          type: string
          description: Optional — link payout to an existing customer record.
        metadata:
          type: object
          additionalProperties:
            type: string
        # Deprecated ARS flat fields — still accepted for backward compatibility.
        # Use destination object for all new integrations.
        destinationCbu:
          type: string
          description: "**Deprecated** — use `destination.identifierValue` instead. Accepted for backward compat (ARS only)."
          deprecated: true
          example: "0070327530004025541644"
        destinationCuit:
          type: string
          description: "**Deprecated** — use `destination.taxId` instead."
          deprecated: true
          example: "20221370075"
        destinationName:
          type: string
          description: "**Deprecated** — use `destination.name` instead."
          deprecated: true
          example: Ana Martínez

    PayoutResponse:
      type: object
      properties:
        id:
          type: string
          description: Platform-generated payout identifier (UUID).
          example: 1078d6c2-a452-44fb-94f4-525390231ce2
        accountId:
          type: string
          description: Account that owns this payout.
          example: acme_ars
        merchantId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: |
            - `pending`: Queued, not yet submitted to the payment network.
            - `processing`: Submitted and awaiting final confirmation (BRL/PIX only).
            - `completed`: Transfer confirmed by the banking/payment system. Terminal.
            - `failed`: Permanently rejected after max retry attempts. Balance restored. Terminal.
        amount:
          type: string
          example: "500.00"
        currency:
          type: string
          example: ARS
        destination:
          $ref: "#/components/schemas/PayoutDestination"
        bankSystemTrxId:
          type: string
          description: Banking system / payment network transaction ID assigned on completion.
          example: 3D5W612E65ZJKDJW2GXYVR
        errorMessage:
          type: string
          description: Present when status is `failed`.
        attempts:
          type: integer
        externalId:
          type: string
        customerId:
          type: string
        createdAt:
          type: string
          format: date-time
        submittedAt:
          type: string
          format: date-time
          description: When the payout was submitted to the payment network.
        completedAt:
          type: string
          format: date-time
        destinationCurrency:
          type: string
          description: "On-ramp only. Always `USDT`."
          example: USDT
        destinationAmount:
          type: string
          description: "On-ramp only. USDT amount credited (6-decimal string)."
          example: "174.825874"
        exchangeRate:
          type: string
          description: "On-ramp only. Confirmed BRL/USDT rate (8-decimal string). BRL per 1 USDT."
          example: "5.72000000"

    PayoutRatesResponse:
      type: object
      properties:
        fromCurrency:
          type: string
          example: BRL
        toCurrency:
          type: string
          example: USDT
        price:
          type: number
          description: Exchange rate — BRL per 1 USDT.
          example: 5.72
        settlement:
          type: string
          enum: [D0, D1, D2]
          example: D0
        indicativeAt:
          type: string
          format: date-time

    PayoutListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/PayoutResponse"
        hasMore:
          type: boolean

    # ── Blockchain Access schemas ──────────────────────────────

    TronAddressBalanceResponse:
      type: object
      properties:
        address:
          type: string
          description: Tron address queried.
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        network:
          type: string
          description: Network code (`mainnet` or `shasta`).
          example: mainnet
        trxSun:
          type: string
          description: TRX balance in sun (1 TRX = 1,000,000 sun).
          example: "1500000000"
        tokens:
          type: array
          description: TRC-20 token balances for each requested contract.
          items:
            $ref: "#/components/schemas/TronTokenBalanceEntry"

    TronTokenBalanceEntry:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        symbol:
          type: string
          example: USDT
        decimals:
          type: integer
          example: 6
        balance:
          type: string
          description: Raw balance in the token's smallest unit. Divide by 10^decimals for human-readable amount.
          example: "50000000"

    TronContractBalanceResponse:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        owner:
          type: string
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        balance:
          type: string
          description: Raw balance in token's smallest unit.
          example: "50000000"
        decimals:
          type: integer
          example: 6

    TronAllowanceResponse:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        owner:
          type: string
          example: TOwnerAddr...
        spender:
          type: string
          example: TSpenderAddr...
        allowance:
          type: string
          description: Approved amount in token's smallest unit.
          example: "0"
        decimals:
          type: integer
          example: 6

    TronBroadcastRequest:
      type: object
      required: [signedTransaction]
      properties:
        network:
          type: string
          enum: [mainnet, shasta]
          default: mainnet
          description: Target network. Can also be set via the `X-Network` header.
        signedTransaction:
          type: object
          description: |
            The signed transaction object from Tron's `triggersmartcontract` after adding the signature.
            Must include `raw_data`, `raw_data_hex`, `txID`, and `signature` fields.
        clientReference:
          type: string
          description: Optional caller-defined reference stored with the submission.

    TronBroadcastResponse:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
          description: Dinaria-internal UUID for polling status.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        status:
          type: string
          enum: [pending, confirmed, failed]
          example: pending
        network:
          type: string
          example: mainnet
        txid:
          type: string
          nullable: true
          description: On-chain transaction ID once confirmed.
          example: a1b2c3d4...
        submittedAt:
          type: string
          format: date-time
          nullable: true
        clientReference:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true

    TronSubmissionResponse:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        status:
          type: string
          enum: [pending, confirmed, failed]
          description: |
            `pending` — submitted, not yet on-chain.
            `confirmed` — included in a block.
            `failed` — node rejected or dropped.
          example: confirmed
        network:
          type: string
          example: mainnet
        txid:
          type: string
          nullable: true
          example: a1b2c3d4...
        submittedAt:
          type: string
          format: date-time
          nullable: true
        clientReference:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true

    TronNetworkListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/TronNetworkItem"

    TronNetworkItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: mainnet
        type:
          type: string
          example: tron
        displayName:
          type: string
          example: Tron Mainnet
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    TronNetworkDetailResponse:
      type: object
      properties:
        network:
          $ref: "#/components/schemas/TronNetworkItem"
        assets:
          type: array
          description: TRC-20 tokens registered in Dinaria's catalog for this network.
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              contractAddress:
                type: string
                example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
              symbol:
                type: string
                example: USDT
              decimals:
                type: integer
                example: 6
              tokenStandard:
                type: string
                example: TRC-20
              isBroadcastAllowed:
                type: boolean
              isActive:
                type: boolean
        rpcNodes:
          type: array
          description: RPC endpoint configuration for the network.
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              baseUrl:
                type: string
                example: https://api.trongrid.io
              priority:
                type: integer
              isActive:
                type: boolean

    MerchantSettingsRequest:
      type: object
      description: |
        All fields are optional — omit any field to leave it unchanged.
      properties:
        defaultTransferExpirationHours:
          type: number
          minimum: 0
          description: |
            Hours an **unmatched incoming bank transfer** is held before auto-refund.
            `0` = hold indefinitely (no auto-refund).
            Only applies when `refundPolicy` is `on_expiration`.
          example: 24
        defaultOrderExpirationHours:
          type: number
          minimum: 0
          description: |
            Hours a **payment order** (created via POST /payments) remains open before expiring.
            `0` = orders never expire automatically.
            An explicit `expiration` value on the order takes precedence.
          example: 48
        refundPolicy:
          type: string
          enum: [on_reception, on_expiration]
          description: |
            - `on_reception`: Unmatched incoming transfers are refunded immediately.
            - `on_expiration`: Transfers are held for `defaultTransferExpirationHours`, then refunded.

    MerchantSettingsResponse:
      type: object
      properties:
        merchantId:
          type: string
        defaultTransferExpirationHours:
          type: number
        defaultOrderExpirationHours:
          type: number
        refundPolicy:
          type: string
          enum: [on_reception, on_expiration]

    WebhookRegistrationRequest:
      type: object
      required: [webhookUrl]
      properties:
        webhookUrl:
          type: string
          format: uri
          description: |
            HTTPS URL on your server where payment events will be delivered.
            With a **merchant-scoped** API key, the registration is stored for that merchant only.
            With an **account-scoped** key, the registration applies to all merchants under the account.
          example: https://your-server.com/webhooks/dinaria

    WebhookRegistrationResponse:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        webhookSecret:
          type: string
          description: |
            HMAC-SHA256 signing secret. **Shown only once — store it securely.**
            You will use this to verify the `X-Webhook-Signature` on every incoming event.
          example: whsec_9f3c2a1b7d5e4c3a...
        createdAt:
          type: string
          format: date-time

    WebhookRotateResponse:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        webhookSecret:
          type: string
          description: New signing secret. Shown only once.
          example: whsec_2b91d0f6a1d34f0b...
        rotatedAt:
          type: string
          format: date-time
        previousSecretExpiresAt:
          type: string
          format: date-time
          nullable: true
          description: When the old secret stops being accepted (grace period).

    WebhookRotateRequest:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
          description: |
            Registered URL to rotate. Include this when you have **more than one** webhook URL
            under the same API key scope so the correct row is selected.
        merchantId:
          type: string
          description: |
            **Account-scoped API keys only:** set this to rotate the webhook registered for a
            **specific merchant** under your account. Omit to rotate the **account-level** registration
            (the webhook you registered with the account-wide key).
            With a **merchant-scoped** API key, do **not** send `merchantId` — the merchant is implied by the key.

    WebhookListItem:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        scope:
          type: string
          enum: [merchant, account]
        createdAt:
          type: string
          format: date-time

    WebhookListResponse:
      type: object
      required: [object, data]
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookListItem"

    WebhookDeleteRequest:
      type: object
      required: [webhookUrl]
      properties:
        webhookUrl:
          type: string
          format: uri
          description: The exact URL previously registered to remove.

    WebhookPaymentEvent:
      type: object
      description: |
        Event delivered by the platform to your registered webhook URL when a payment changes status.
        Delivery is at-least-once — deduplicate by `transactionId`.
      properties:
        transactionId:
          type: string
        externalId:
          type: string
        merchantId:
          type: string
        status:
          type: string
          enum: [started, confirmed, cancelled, expired]
        amount:
          type: string
        currency:
          type: string
        bankSystemTrxId:
          type: string
          nullable: true
          description: Banking system transaction ID, present when status is `confirmed`.
        receivedAmount:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        customer:
          $ref: "#/components/schemas/Customer"

  # ── Reusable examples ─────────────────────────────────────

  examples:

    # POST /payments — request
    PaymentRequestARS:
      summary: "ARS — CUIT customer"
      value:
        merchantId: acme_ars_merch1
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        externalId: ORD-1001
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        metadata:
          orderId: ORD-1001

    PaymentRequestARSDNI:
      summary: "ARS — DNI customer (Paypaga reseller pattern)"
      value:
        merchantId: acme_ars_merch1
        amount: "500.00"
        currency: ARS
        externalId: ORD-1002
        allowOverUnder: true
        customer:
          name: María López
          documentType: DNI
          documentNumber: "22137007"

    PaymentRequestBRL:
      summary: "BRL — CPF customer"
      value:
        merchantId: bpn_merch_1
        amount: "100.00"
        currency: BRL
        paymentMethod: instant_bank_transfer
        externalId: ORD-2001
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        metadata:
          orderId: ORD-2001

    PaymentRequestBRLCNPJ:
      summary: "BRL — CNPJ customer (company)"
      value:
        merchantId: bpn_merch_1
        amount: "250.00"
        currency: BRL
        externalId: ORD-2002
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"

    PaymentRequestBRLPixQR:
      summary: "BRL — dynamic PIX QR (Brazil only)"
      value:
        merchantId: bpn_merch_1
        amount: "100.00"
        currency: BRL
        paymentMethod: pix_qr
        externalId: ORD-2003
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"
        metadata:
          orderId: ORD-2003

    # POST /payments — response
    PaymentResponseARS:
      summary: "ARS — started"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId: acme_ars_merch1
        externalId: ORD-1001
        status: started
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        rail: ar_bank_transfer
        bankSystemReference: "9032000000000000023"
        paymentData:
          type: transfer_to_cbu
          cbu: "4310009922100000122004"
          reference: "9032000000000000023"
        customer:
          id: ea272dd4-bde7-4d9a-a432-0de9e9566af5
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        reconciliationStatus: unknown

    PaymentResponseARSConfirmed:
      summary: "ARS — confirmed"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId: acme_ars_merch1
        externalId: ORD-1001
        status: confirmed
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        rail: ar_bank_transfer
        bankSystemTrxId: A7B3C9D1E2F4G5H6I7J8K
        receivedAmount: "1500.00"
        receivedAt: "2026-03-10T15:30:00Z"
        reconciliationStatus: matched
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"

    PaymentResponseBRL:
      summary: "BRL — started (static PIX key)"
      value:
        transactionId: f90c7c31-7a38-46dc-99ba-188a4c99da29
        merchantId: bpn_merch_1
        externalId: ORD-2001
        status: started
        amount: "100.00"
        currency: BRL
        paymentMethod: instant_bank_transfer
        rail: pix
        paymentData:
          type: pix_transfer
          pixKey: bc8ba248-fb33-4022-bea1-c9fab2efd341
          pixKeyType: random
          reference: f90c7c31-7a38-46dc-99ba-188a4c99da29
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        reconciliationStatus: unknown

    PaymentResponseBRLPixQR:
      summary: "BRL — started (dynamic PIX QR)"
      value:
        transactionId: 3d99d177-aa3f-4b34-9e1d-8d5b69e0c1b1
        merchantId: bpn_merch_1
        externalId: ORD-2003
        status: started
        amount: "100.00"
        currency: BRL
        paymentMethod: pix_qr
        rail: pix
        expirationDate: "2026-05-13T16:34:26Z"
        expiresAt: "2026-05-13T16:34:26Z"
        paymentData:
          type: pix_qr
          qrCodeString: "00020101021226790014br.gov.bcb.pix2557brcode.starkinfra.com/v2/e9570fcb77f94a27adb462e9b09591ce5204000053039865802BR5909Transfero6014Rio de Janeiro62070503***6304B634"
          qrCodeBase64: "iVBORw0KGgoAAAANSUhEUgAAAVkAAAFZAQAAAAAaiWF2AAA...(truncated)"
          qrExpiresAt: "2026-05-13T16:34:26Z"
          reference: 3d99d177-aa3f-4b34-9e1d-8d5b69e0c1b1
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"
        reconciliationStatus: unknown

    # POST /payouts — request
    PayoutRequestARS:
      summary: "ARS — CBU destination"
      value:
        amount: "500.00"
        currency: ARS
        destination:
          identifierType: cbu
          identifierValue: "0070327530004025541644"
          taxId: "20221370075"
          name: Ana Martínez
        externalId: PAY-OUT-001

    PayoutRequestARSAlias:
      summary: "ARS — alias destination (auto-resolved)"
      value:
        amount: "200.00"
        currency: ARS
        destination:
          identifierType: alias_cbu
          identifierValue: mialiascbu
        externalId: PAY-OUT-002

    PayoutRequestBRLPix:
      summary: "BRL — PIX (CPF key)"
      value:
        amount: "150.00"
        currency: BRL
        destination:
          identifierType: pix_key_cpf
          identifierValue: "12345678901"
          name: João Silva
        externalId: PAY-OUT-003

    PayoutRequestBRLPixRandom:
      summary: "BRL — PIX (random key)"
      value:
        amount: "75.50"
        currency: BRL
        destination:
          identifierType: pix_key_random
          identifierValue: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          taxId: "12345678901"
          taxIdCountry: BR
          name: João Silva
        externalId: PAY-OUT-004

    # POST /payouts — response
    PayoutResponsePending:
      summary: "Payout pending (ARS)"
      value:
        id: 1078d6c2-a452-44fb-94f4-525390231ce2
        merchantId: acme_ars_merch1
        status: pending
        amount: "500.00"
        currency: ARS
        destination:
          identifierType: cbu
          identifierValue: "0070327530004025541644"
          taxId: "20221370075"
          taxIdCountry: AR
          name: Ana Martínez
        externalId: PAY-OUT-001
        attempts: 0
        createdAt: "2026-03-10T15:00:00Z"

    PayoutResponseCompleted:
      summary: "Payout completed (ARS)"
      value:
        id: 1078d6c2-a452-44fb-94f4-525390231ce2
        merchantId: acme_ars_merch1
        status: completed
        amount: "500.00"
        currency: ARS
        destination:
          identifierType: cbu
          identifierValue: "0070327530004025541644"
          taxId: "20221370075"
          taxIdCountry: AR
          name: Ana Martínez
        bankSystemTrxId: 3D5W612E65ZJKDJW2GXYVR
        attempts: 1
        externalId: PAY-OUT-001
        createdAt: "2026-03-10T15:00:00Z"
        submittedAt: "2026-03-10T15:00:05Z"
        completedAt: "2026-03-10T15:00:08Z"

    PayoutResponseCompletedBRL:
      summary: "Payout completed (BRL PIX)"
      value:
        id: d1e2f3a4-b5c6-7890-abcd-ef0123456789
        accountId: acme_br
        merchantId: acme_br_merch1
        status: completed
        amount: "2.00"
        currency: BRL
        destination:
          identifierType: pix_key_cpf
          identifierValue: "98765432100"
          taxId: "98765432100"
          taxIdCountry: BR
          name: Carlos Menezes
        bankSystemTrxId: f4e3d2c1-b0a9-8765-4321-fedcba987654
        attempts: 1
        createdAt: "2026-03-11T23:01:17Z"
        submittedAt: "2026-03-11T23:01:32Z"
        completedAt: "2026-03-11T23:01:44Z"

    PayoutRequestOnRamp:
      summary: "On-ramp (BRL → USDT on Tron)"
      value:
        amount: "1000.00"
        currency: BRL
        destination:
          identifierType: tron_address
          identifierValue: TUcVE7YGbVJ2oXe7e3MiHAGiDqEbVz1GkB
          name: My USDT Wallet
          destinationCurrency: USDT
          network: mainnet
          settlement: D0

    PayoutResponseOnRamp:
      summary: "On-ramp completed (BRL → USDT)"
      value:
        id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
        accountId: acme_br
        merchantId: acme_br_merch1
        status: completed
        amount: "1000.00"
        currency: BRL
        destination:
          identifierType: tron_address
          identifierValue: TUcVE7YGbVJ2oXe7e3MiHAGiDqEbVz1GkB
          network: mainnet
          settlement: D0
        destinationCurrency: USDT
        destinationAmount: "174.825874"
        exchangeRate: "5.72000000"
        bankSystemTrxId: ord_abc123
        attempts: 1
        createdAt: "2026-04-03T14:01:00Z"
        submittedAt: "2026-04-03T14:01:00Z"
        completedAt: "2026-04-03T14:01:05Z"

    # Webhook events
    WebhookConfirmedARS:
      summary: "ARS — payment confirmed"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        externalId: ORD-1001
        merchantId: acme_ars_merch1
        status: confirmed
        amount: "1500.00"
        currency: ARS
        bankSystemTrxId: A7B3C9D1E2F4G5H6I7J8K
        receivedAmount: "1500.00"
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        metadata:
          orderId: ORD-1001

    WebhookConfirmedBRL:
      summary: "BRL — payment confirmed"
      value:
        transactionId: f90c7c31-7a38-46dc-99ba-188a4c99da29
        externalId: ORD-2001
        merchantId: bpn_merch_1
        status: confirmed
        amount: "100.00"
        currency: BRL
        receivedAmount: "100.00"
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        metadata:
          orderId: ORD-2001

  # ── Reusable responses ────────────────────────────────────

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: unauthorized
              message: Missing or invalid API key.

    Forbidden:
      description: Valid key but insufficient permission.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            merchant_forbidden:
              value:
                error:
                  code: forbidden
                  message: Merchant does not belong to your account.
                  param: merchantId
            currency_not_enabled:
              value:
                error:
                  code: currency_not_enabled
                  message: Currency BRL is not enabled for your account.
                  param: currency
            payout_not_enabled:
              value:
                error:
                  code: payout_not_enabled
                  message: Payouts are not enabled for this merchant.

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: not_found
              message: Payment not found.

    Conflict:
      description: Idempotency-Key reused with a different request body.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: idempotency_key_reused
              message: The Idempotency-Key was reused with a different request payload.

# ─────────────────────────────────────────────────────────────
# Paths
# ─────────────────────────────────────────────────────────────
paths:

  # ── Account ───────────────────────────────────────────────

  /balance:
    get:
      tags: [Account]
      summary: Get account balance
      description: |
        Returns the current balance for your account, broken down by currency.

        Requires an **account-scoped API key** — not a merchant key.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    example: acme_br
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: BRL
                        balance:
                          type: string
                          example: "34.60"
              example:
                accountId: acme_br
                balances:
                  - currency: BRL
                    balance: "34.60"
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              example:
                code: unauthorized
                message: Invalid or missing API key.

  # ── Pay-in ────────────────────────────────────────────────

  /payments:
    post:
      tags: [Payments]
      summary: Create a payment
      description: |
        Creates a pay-in order. Returns transfer instructions in `paymentData`
        to display to the customer.

        **ARS**: Display `paymentData.cbu` and `paymentData.reference`. The customer
        initiates a CBU/CVU bank transfer and **must include the reference in the
        transfer concept/description field**. The reconciler matches it automatically.

        **BRL** — two methods (choose with `paymentMethod`):

        - `instant_bank_transfer` *(default)* — `paymentData.type = "pix_transfer"`:
          display `paymentData.pixKey` and `paymentData.reference`. The customer
          initiates a PIX transfer using the reference as the description. The
          reconciler matches by CPF/CNPJ + amount. Order expiration is
          merchant-controlled.
        - `pix_qr` — `paymentData.type = "pix_qr"`: a per-order dynamic PIX QR
          (BR-Code) is minted by Transfero. Display `paymentData.qrCodeBase64`
          inline (`<img src="data:image/png;base64,...">`) or render
          `paymentData.qrCodeString` with any QR encoder; "copy-and-paste PIX"
          is supported by showing the same string verbatim. **The QR (and
          order) expire in 15 minutes** — any merchant-supplied `expiresAfter`
          or `expiration` is ignored. The reconciler binds the credit to this
          order via the QR's embedded `externalId`, giving guaranteed 1:1
          matching even when the payer's tax ID is unknown ahead of time.

        Payments are single-use. Create a new one for each attempt.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
            examples:
              ars_cuit:
                $ref: "#/components/examples/PaymentRequestARS"
              ars_dni:
                $ref: "#/components/examples/PaymentRequestARSDNI"
              brl_cpf:
                $ref: "#/components/examples/PaymentRequestBRL"
              brl_cnpj:
                $ref: "#/components/examples/PaymentRequestBRLCNPJ"
              brl_pix_qr:
                $ref: "#/components/examples/PaymentRequestBRLPixQR"
      responses:
        "200":
          description: Payment created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              examples:
                ars_started:
                  $ref: "#/components/examples/PaymentResponseARS"
                brl_started:
                  $ref: "#/components/examples/PaymentResponseBRL"
                brl_pix_qr_started:
                  $ref: "#/components/examples/PaymentResponseBRLPixQR"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_document:
                  value:
                    error:
                      code: invalid_document
                      message: customer.documentNumber must be a valid cuit or dni for AR.
                      param: customer.documentNumber
                missing_field:
                  value:
                    error:
                      code: invalid_request
                      message: merchantId, amount and currency are required.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [Payments]
      summary: List payments
      description: |
        Returns pay-in orders for the authenticated merchant, newest first.

        **Merchant-scoped key**: returns payments for that merchant only.
        The `merchantId` query parameter is ignored — the scope is fixed by the key.

        **Account-scoped key**: returns payments across all merchants in the account.
        Optionally pass `?merchantId=` to narrow to a single merchant.

        **Operator key**: returns all payments. Use `?merchantId=` to filter.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [started, confirmed, cancelled, expired]
          description: Filter by payment status.
        - name: currency
          in: query
          schema:
            type: string
            example: BRL
          description: Filter by currency code (e.g. `BRL`, `ARS`).
        - name: merchantId
          in: query
          schema:
            type: string
          description: |
            Filter by merchant. Only effective for account-scoped or operator keys.
            Ignored for merchant-scoped keys (scope is fixed by the key).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Number of results to return per page.
        - name: startingAfter
          in: query
          schema:
            type: string
          description: |
            Cursor pagination — pass the `transactionId` of the last item in the
            previous page to retrieve the next page.
      responses:
        "200":
          description: List of payments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
              example:
                object: list
                hasMore: false
                data:
                  - transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
                    merchantId: acme_merch1
                    amount: "150.00"
                    currency: BRL
                    status: confirmed
                    createdAt: "2026-03-11T22:57:40Z"
                    paymentData:
                      type: pix_transfer
                      pixKey: bc8ba248-fb33-4022-bea1-c9fab2efd341
                      pixKeyType: random
                      reference: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /payments/{transactionId}:
    get:
      tags: [Payments]
      summary: Retrieve a payment
      description: |
        Returns the current state of a payment.

        Use this to check status after creation or to reconcile when webhooks are delayed.
        Prefer webhooks for production integrations — do not poll aggressively.
      parameters:
        - $ref: "#/components/parameters/TransactionIdPath"
      responses:
        "200":
          description: Payment details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              examples:
                ars_confirmed:
                  $ref: "#/components/examples/PaymentResponseARSConfirmed"
                ars_started:
                  $ref: "#/components/examples/PaymentResponseARS"
                brl_started:
                  $ref: "#/components/examples/PaymentResponseBRL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /payments/{transactionId}/cancel:
    post:
      tags: [Payments]
      summary: Cancel a payment
      description: |
        Cancels a payment that is in `started` status.

        Use this when the end-user abandons the flow, the order is voided on
        your side, or you need to clear stale orders so that subsequent
        CUIT/CUIL-based matching works correctly.

        Only `started` payments can be cancelled. Payments that have already
        reached a terminal state (`confirmed`, `cancelled`, `expired`) will be
        rejected with `422 invalid_status`.

        A `payment.status_changed` webhook is dispatched immediately after a
        successful cancellation.
      parameters:
        - $ref: "#/components/parameters/TransactionIdPath"
      responses:
        "200":
          description: Payment successfully cancelled. Returns the updated payment object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Payment is not in a cancellable state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_status
                  message: "Only payments in 'started' status can be cancelled. Current status: confirmed."

  # ── Payouts ───────────────────────────────────────────────

  /payouts:
    post:
      tags: [Payouts, Stablecoin Settlement]
      summary: Create a payout
      description: |
        Sends money out to a customer's bank account.

        The merchant's balance is debited immediately at creation time.
        Processing happens asynchronously every ~5 minutes via the payout processor.

        **ARS CBU alias**: set `destination.identifierType` to `alias_cbu` and `destination.identifierValue`
        to the alias (e.g. `mialiascbu`) — the real CBU, CUIT, and name are resolved automatically before sending.

        **ARS CUIT auto-resolution**: `destination.taxId` is optional for `cbu` type — the platform
        resolves it from the CBU automatically. Providing it explicitly skips the lookup.

        **BRL PIX key**: use `destination.identifierType` of `pix_key_cpf`, `pix_key_cnpj`,
        `pix_key_email`, `pix_key_phone`, or `pix_key_random`. The value must be the recipient's
        registered PIX key — a CNPJ is only valid if explicitly registered as a PIX key by the recipient.

        **On-ramp (BRL → USDT)**: set `destination.identifierType` to `tron_address` and
        `destination.identifierValue` to the recipient's Tron wallet address. The conversion is
        executed synchronously — the response is returned with `status: "completed"` and the confirmed
        `exchangeRate`, `destinationAmount`, and `destinationCurrency`. Use `GET /payouts/rates` first
        to check indicative prices. Optionally set `destination.settlement` to `D0` (default), `D1`, or `D2`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
            examples:
              cbu:
                $ref: "#/components/examples/PayoutRequestARS"
              alias:
                $ref: "#/components/examples/PayoutRequestARSAlias"
              brl_pix_cpf:
                $ref: "#/components/examples/PayoutRequestBRLPix"
              brl_pix_random:
                $ref: "#/components/examples/PayoutRequestBRLPixRandom"
              on_ramp:
                $ref: "#/components/examples/PayoutRequestOnRamp"
      responses:
        "201":
          description: |
            Payout created. For standard payouts (ARS/BRL) status will be `pending` until the
            processor submits the transfer. For on-ramp (`tron_address`) the conversion is
            synchronous and status is `completed` in the same response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
              examples:
                pending:
                  $ref: "#/components/examples/PayoutResponsePending"
                on_ramp:
                  $ref: "#/components/examples/PayoutResponseOnRamp"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_request
                  message: amount and currency are required.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient merchant balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: insufficient_balance
                  message: Merchant balance is insufficient for this payout.
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [Payouts]
      summary: List payouts
      description: Returns payouts for the authenticated merchant, newest first.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed]
          description: Filter by status.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: startingAfter
          in: query
          schema:
            type: string
          description: Cursor pagination — pass the `id` of the last item in the previous page.
      responses:
        "200":
          description: List of payouts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /payouts/rates:
    get:
      tags: [Stablecoin Settlement]
      summary: Get indicative BRL/USDT rate
      description: |
        Returns an indicative BRL→USDT exchange rate without locking a quote.
        If this endpoint returns a price, the market is open and on-ramp is available.
      parameters:
        - name: fromCurrency
          in: query
          schema:
            type: string
            default: BRL
          description: Source currency. Currently only `BRL` is supported.
        - name: toCurrency
          in: query
          schema:
            type: string
            default: USDT
          description: Destination currency. Currently only `USDT` is supported.
        - name: settlement
          in: query
          schema:
            type: string
            enum: [D0, D1, D2]
            default: D0
          description: Settlement window.
      responses:
        "200":
          description: Indicative rate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutRatesResponse"
              example:
                fromCurrency: BRL
                toCurrency: USDT
                price: 5.72
                settlement: D0
                indicativeAt: "2026-04-03T14:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: On-ramp not configured for this environment.

  # ── Blockchain Access ─────────────────────────────────────

  /v1/chains/networks:
    get:
      tags: [Blockchain Access]
      summary: List networks
      description: Returns all blockchain networks Dinaria supports.
      responses:
        "200":
          description: List of networks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronNetworkListResponse"
              example:
                object: list
                data:
                  - code: mainnet
                    type: tron
                    displayName: Tron Mainnet
                    isActive: true
                  - code: shasta
                    type: tron
                    displayName: Tron Shasta (Testnet)
                    isActive: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/chains/networks/{code}:
    get:
      tags: [Blockchain Access]
      summary: Get network details
      description: Returns RPC configuration, catalog assets, and status for a specific network.
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            enum: [mainnet, shasta]
          description: Network code.
      responses:
        "200":
          description: Network detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronNetworkDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/chains/tron/addresses/{address}/balance:
    get:
      tags: [Blockchain Access]
      summary: Get address balance
      description: |
        Returns the TRX balance (in sun) for any Tron address, and optionally one or more
        TRC-20 token balances. Pass `contracts` once or multiple times, or as a comma-separated value.

        `trxSun` is the TRX balance in sun (1 TRX = 1,000,000 sun). Token `balance` is in the
        token's smallest unit — divide by `10^decimals` for the human-readable amount.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: Tron address in base58check format (`T…`).
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
          description: Target network. Can also be set via `X-Network` header.
        - name: contracts
          in: query
          schema:
            type: string
          description: |
            Optional. TRC-20 contract address(es) to include token balances for.
            Repeat the parameter or use comma-separated values. Contract must exist in Dinaria's catalog.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
      responses:
        "200":
          description: Address balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronAddressBalanceResponse"
              example:
                address: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
                network: mainnet
                trxSun: "1500000000"
                tokens:
                  - contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    symbol: USDT
                    decimals: 6
                    balance: "50000000"
        "400":
          description: Invalid address or contract.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/contracts/{contract}/balance:
    get:
      tags: [Blockchain Access]
      summary: Get TRC-20 token balance
      description: Returns the TRC-20 token balance of a specific owner address for a given contract.
      parameters:
        - name: contract
          in: path
          required: true
          schema:
            type: string
          description: TRC-20 contract address. Must exist in Dinaria's catalog.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        - name: owner
          in: query
          required: true
          schema:
            type: string
          description: Address whose balance to query.
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
      responses:
        "200":
          description: Token balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronContractBalanceResponse"
              example:
                contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                owner: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
                balance: "50000000"
                decimals: 6
        "400":
          description: Invalid address or missing owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/contracts/{contract}/allowance:
    get:
      tags: [Blockchain Access]
      summary: Get TRC-20 allowance
      description: Returns how much a spender is approved to transfer on behalf of an owner.
      parameters:
        - name: contract
          in: path
          required: true
          schema:
            type: string
          description: TRC-20 contract address.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        - name: owner
          in: query
          required: true
          schema:
            type: string
          description: Address that granted the allowance.
          example: TOwnerAddress...
        - name: spender
          in: query
          required: true
          schema:
            type: string
          description: Address that may spend on owner's behalf.
          example: TSpenderAddress...
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
      responses:
        "200":
          description: Allowance amount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronAllowanceResponse"
              example:
                contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                owner: TOwnerAddress...
                spender: TSpenderAddress...
                allowance: "0"
                decimals: 6
        "400":
          description: Invalid address or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/transactions/broadcast:
    post:
      tags: [Blockchain Access]
      summary: Broadcast a transaction
      description: |
        Submits a pre-signed Tron transaction to the network via Dinaria's full node.
        Your private key **never** leaves your system — you sign locally and pass only the signed transaction object.

        The `X-Idempotency-Key` header is required. Reusing the same key with the same body returns
        the original response without re-broadcasting.
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
          description: UUID or unique string to prevent duplicate broadcasts on retry.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TronBroadcastRequest"
            example:
              network: mainnet
              signedTransaction:
                raw_data:
                  contract: []
                  timestamp: 1712000000000
                  expiration: 1712003600000
                raw_data_hex: "0a02..."
                txID: a1b2c3...
                signature: ["3045..."]
      responses:
        "200":
          description: Transaction submitted. Poll `GET /v1/chains/tron/transactions/{submissionId}` for confirmation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronBroadcastResponse"
              example:
                submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                status: pending
                network: mainnet
                txid: a1b2c3d4...
                submittedAt: "2026-04-03T14:01:05Z"
        "400":
          description: Invalid request or node rejection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "502":
          description: All configured RPC nodes failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/transactions/dry-run:
    post:
      tags: [Blockchain Access]
      summary: Dry-run a transaction
      description: |
        Estimates energy consumption without broadcasting. Use before submitting to check fee cost.
        Passes the signed transaction through Tron's `triggerconstantcontract` and returns the wrapped result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TronBroadcastRequest"
            example:
              network: mainnet
              signedTransaction:
                raw_data_hex: "0a02..."
                txID: a1b2c3...
                signature: ["3045..."]
      responses:
        "200":
          description: Dry-run result from the Tron node.
          content:
            application/json:
              example:
                httpStatus: 200
                result:
                  energy_used: 13382
                  constant_result: ["..."]
                  result:
                    result: true
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/chains/tron/transactions/{submissionId}:
    get:
      tags: [Blockchain Access]
      summary: Get submission status
      description: Retrieve the status of a previously broadcast transaction by its Dinaria submission ID.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The `submissionId` returned by `POST /v1/chains/tron/transactions/broadcast`.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: Submission status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronSubmissionResponse"
              examples:
                pending:
                  summary: Transaction pending on-chain
                  value:
                    submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    status: pending
                    network: mainnet
                    txid: null
                    submittedAt: "2026-04-03T14:01:05Z"
                confirmed:
                  summary: Transaction confirmed
                  value:
                    submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    status: confirmed
                    network: mainnet
                    txid: a1b2c3d4e5f6...
                    submittedAt: "2026-04-03T14:01:05Z"
        "400":
          description: Invalid submission ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /payouts/{payoutId}:
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      parameters:
        - $ref: "#/components/parameters/PayoutIdPath"
      responses:
        "200":
          description: Payout details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
              examples:
                completed:
                  $ref: "#/components/examples/PayoutResponseCompleted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Merchant settings ─────────────────────────────────────

  /merchants/{id}/settings:
    put:
      tags: [Merchant Settings]
      summary: Update merchant settings
      description: |
        Configures per-merchant reconciliation behaviour.
        All fields are optional — send only the ones you want to change.

        **`defaultTransferExpirationHours`**: governs *incoming bank transfers* with no
        matching order. Only relevant when `refundPolicy` is `on_expiration`.

        **`defaultOrderExpirationHours`**: governs *payment orders* created via POST /payments.
        An explicit `expiration` value on the order takes precedence.

        **`refundPolicy`**:
        - `on_reception`: unmatched transfers are refunded immediately upon arrival.
        - `on_expiration`: transfers are held for `defaultTransferExpirationHours`, then refunded.
      parameters:
        - $ref: "#/components/parameters/MerchantIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantSettingsRequest"
            examples:
              expiration_policy:
                summary: Hold transfers 24h, orders expire after 48h
                value:
                  defaultTransferExpirationHours: 24
                  defaultOrderExpirationHours: 48
                  refundPolicy: on_expiration
              immediate_refund:
                summary: Refund immediately, orders never expire
                value:
                  refundPolicy: on_reception
      responses:
        "200":
          description: Settings updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantSettingsResponse"
              example:
                merchantId: acme_ars_merch1
                defaultTransferExpirationHours: 24
                defaultOrderExpirationHours: 48
                refundPolicy: on_expiration
        "400":
          description: Invalid value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_request
                  message: defaultTransferExpirationHours must be >= 0.
                  param: defaultTransferExpirationHours
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Webhooks ──────────────────────────────────────────────

  /webhooks/payments:
    get:
      tags: [Webhooks]
      summary: List registered webhook URLs
      description: |
        Returns webhook URLs for your API key scope. **Secrets are never returned.**
        Use a **merchant-scoped** or **account-scoped** key consistent with how you registered.
      responses:
        "200":
          description: List of registrations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
              example:
                object: list
                data:
                  - webhookUrl: https://your-server.com/webhooks/dinaria
                    scope: merchant
                    createdAt: "2026-03-10T12:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Webhooks]
      summary: Register a webhook URL
      description: |
        Registers the HTTPS URL on your server where the platform will deliver payment status events.

        Call this once during setup. If your URL changes, call again to update it.
        This endpoint is called **by you** — it does not deliver any events itself.

        **Scope** matches your API key: a **merchant-scoped** key ties the registration to that merchant;
        an **account-scoped** key registers at account level (all merchants under the account).

        The `webhookSecret` is returned **only once**. Store it securely in a secret manager.
        You will use it to verify the `X-Webhook-Signature` on every incoming event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegistrationRequest"
            example:
              webhookUrl: https://your-server.com/webhooks/dinaria
      responses:
        "201":
          description: Webhook registered. Save the `webhookSecret` — shown only once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRegistrationResponse"
              example:
                webhookUrl: https://your-server.com/webhooks/dinaria
                webhookSecret: whsec_9f3c2a1b7d5e4c3a...
                createdAt: "2026-03-10T12:00:00Z"
        "400":
          description: Invalid webhook URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Webhooks]
      summary: Deregister a webhook URL
      description: |
        Removes the registration for the given `webhookUrl` within your API key scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDeleteRequest"
            example:
              webhookUrl: https://your-server.com/webhooks/dinaria
      responses:
        "204":
          description: Webhook removed.
        "400":
          description: Missing or invalid body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No registration found for this URL and scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhooks/payments/rotate-secret:
    post:
      tags: [Webhooks]
      summary: Rotate webhook secret
      description: |
        Issues a new signing secret for your registered webhook endpoint.
        The new `webhookSecret` is returned only once — store it immediately.

        **Merchant-scoped API key:** send `webhookUrl` when you have multiple URLs registered; otherwise
        the single registration for that merchant is rotated. Do **not** send `merchantId`.

        **Account-scoped API key:** omit `merchantId` to rotate the account-level registration, or set
        `merchantId` to rotate that merchant's registration. Use `webhookUrl` when needed to pick a URL.

        Equivalent paths (same handler): `/webhooks/payments/rotate`, `/webhooks/rotate-secret`, `/webhooks/rotate`.
        If you terminate TLS on a reverse proxy, ensure these paths are forwarded (not only an exact match on `/webhooks/payments`).

        If `previousSecretExpiresAt` is set, the old secret remains valid until that time
        (grace period), giving you time to deploy the new secret before the old one stops working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRotateRequest"
            examples:
              merchantScoped:
                summary: Merchant-scoped key (typical)
                value:
                  webhookUrl: https://your-server.com/webhooks/dinaria
              accountScoped:
                summary: Account-scoped key, account-level webhook
                value:
                  webhookUrl: https://your-server.com/webhooks/dinaria
              accountScopedMerchant:
                summary: Account-scoped key, merchant-specific webhook
                value:
                  merchantId: acme_merch_1
                  webhookUrl: https://your-server.com/webhooks/dinaria
      responses:
        "200":
          description: Secret rotated. Save the new `webhookSecret`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRotateResponse"
              example:
                webhookUrl: https://your-server.com/webhooks/dinaria
                webhookSecret: whsec_2b91d0f6a1d34f0b...
                rotatedAt: "2026-03-10T13:00:00Z"
                previousSecretExpiresAt: "2026-03-11T13:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No matching webhook registration for this key and request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhooks/payments/updates:
    post:
      tags: [Webhooks]
      summary: Receive payment events (endpoint on your server)
      description: |
        **This endpoint is on YOUR server.** The platform calls it when a payment changes status.
        Do not call this endpoint yourself.

        **Signature verification** (required before processing):
        1. Read the raw request body — do not parse JSON first.
        2. Check `X-Webhook-Timestamp` is within ±5 minutes of now (replay protection).
        3. Build the signed payload: `<timestamp>.<raw_body>`
        4. Compute `HMAC_SHA256(webhookSecret, signed_payload)`
        5. Compare (constant-time) with the `v1=` value in `X-Webhook-Signature`.
        6. Reject with HTTP 401 if verification fails.

        Respond with **HTTP 200 immediately**. Process the event asynchronously.
        Delivery is at-least-once — deduplicate by **`eventId`** (unique per delivery; the same payment may be referenced across retries with the same `eventId`).
      parameters:
        - name: X-Webhook-Timestamp
          in: header
          required: true
          description: Unix timestamp in seconds.
          schema:
            type: integer
            example: 1741612800
        - name: X-Webhook-Signature
          in: header
          required: true
          description: "Format: `t=<timestamp>,v1=<hex_hmac_sha256>`"
          schema:
            type: string
            example: "t=1741612800,v1=9d0c...ab12"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookPaymentEvent"
            examples:
              ars_confirmed:
                $ref: "#/components/examples/WebhookConfirmedARS"
              brl_confirmed:
                $ref: "#/components/examples/WebhookConfirmedBRL"
      responses:
        "200":
          description: Event received. Always respond 200 as quickly as possible.
