openapi: 3.0.3
info:
  title: Dinaria Payment API
  version: 2.0.0
  description: |
    API for receiving funds from customers (pay-in) and sending money out (payouts).

    **Supported scopes**
    - **Argentina (ARS)** — CBU/CVU bank transfer. Customer is identified by CUIT or DNI.
    - **Brazil (BRL)** — PIX instant transfer. Customer is identified by CPF or CNPJ.
    - **Venezuela (VES)** — remittance payout funded in USDT and delivered by bank account or mobile payment.

    **Key rules**
    - Payments are single-use. Create a new payment for each attempt.
    - Always confirm payment status via webhooks or GET /payments/{transactionId}.
      Do not fulfil orders based on `started` status alone.
    - Use `Idempotency-Key` on all POST requests to safely retry without creating duplicates.
  contact:
    email: operations@dinaria.com

servers:
  - url: https://api.dinaria.com
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Account
    description: Query account-level balance and settings.
  - name: Payments
    description: Create and retrieve pay-in orders.
  - name: Payouts
    description: Send money to beneficiaries through country-specific bank, mobile, and PIX rails.
  - name: Merchant Settings
    description: Configure per-merchant reconciliation behaviour.
  - name: Webhooks
    description: Register webhook URLs and receive payment events.
  - name: Stablecoin Settlement
    description: |
      Convert BRL from your Dinaria balance into USDT and deliver it on-chain to any Tron address.
      The on-ramp executes synchronously through the Exchange — no polling required.
      Use `GET /payouts/rates` for indicative prices, then `POST /payouts` with `destination.identifierType: tron_address` to execute.
  - name: Blockchain Access
    description: |
      Authenticated access to Dinaria's Tron full node. Query TRX and TRC-20 balances, check
      allowances, broadcast pre-signed transactions, and check submission status — all without
      exposing your private key to Dinaria. Base path: `/v1/chains`.

# ─────────────────────────────────────────────────────────────
# Components
# ─────────────────────────────────────────────────────────────
components:

  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: |
        Include your API key in the Authorization header:

            Authorization: Bearer di_live_YOUR_KEY

        Keys are either account-level (require `merchantId` in the request body)
        or merchant-scoped (resolve `merchantId` automatically).
        Do not expose your key in client-side code.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        UUID v4 that prevents duplicate records on retry.
        When the same key is reused with an identical body, the original response is returned.
        If the body differs, the request is rejected with 409.
      schema:
        type: string
        example: 550e8400-e29b-41d4-a716-446655440000

    TransactionIdPath:
      name: transactionId
      in: path
      required: true
      description: The `transactionId` returned when the payment was created.
      schema:
        type: string

    PayoutIdPath:
      name: payoutId
      in: path
      required: true
      description: The `id` returned when the payout was created.
      schema:
        type: string

    MerchantIdPath:
      name: id
      in: path
      required: true
      description: Merchant ID.
      schema:
        type: string

  # ── Schemas ───────────────────────────────────────────────

  schemas:

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: invalid_request
            message:
              type: string
              description: Human-readable description.
              example: customer.documentNumber must be a valid cuit or dni for AR.
            param:
              type: string
              nullable: true
              description: Field name that caused the error, when applicable.
              example: customer.documentNumber

    Customer:
      type: object
      required:
        - name
        - documentNumber
      properties:
        id:
          type: string
          readOnly: true
          description: Platform-assigned customer ID (returned only).
        name:
          type: string
          description: Full name of the payer.
          example: Ana Martínez
        documentNumber:
          type: string
          description: |
            **ARS**: CUIT (11 digits, e.g. `20221370075`) or DNI (7–8 digits, e.g. `22137007`).
            **BRL**: CPF (11 digits, e.g. `12345678901`) or CNPJ (14 digits, e.g. `58084921000160`).
            Format is validated server-side including checksum for CUIT, CPF, and CNPJ.
            Sending a wrong value will result in `400 invalid_document`.
          example: "20221370075"
        documentType:
          type: string
          enum: [CUIT, CUIL, DNI, CPF, CNPJ]
          description: |
            Optional hint that speeds up document type detection.
            If omitted, the type is inferred from the number length and format.
        email:
          type: string
          format: email
        phoneNumber:
          type: string

    PaymentDataARS:
      type: object
      description: Bank transfer instructions for ARS payments.
      properties:
        type:
          type: string
          enum: [transfer_to_cbu]
        cbu:
          type: string
          description: Dinaria's 22-digit receiving CBU. Customer must transfer funds here.
          example: "4310009922100000122004"
        reference:
          type: string
          description: |
            Reference code the customer must include in the transfer description/concept.
            This is how the reconciler links the incoming bank transfer to this order.
          example: "9032000000000000023"

    PaymentDataBRL:
      type: object
      description: |
        PIX collection instructions for BRL payments. Two shapes are returned
        depending on `paymentMethod`:

        - `paymentMethod=instant_bank_transfer` (default) → `type=pix_transfer`:
          a static PIX deposit key (`pixKey` / `pixKeyType`) plus a `reference`
          to include in the transfer description. Reconciled by CPF/CNPJ + amount.
        - `paymentMethod=pix_qr` → `type=pix_qr`: a per-order dynamic BR-Code
          (`qrCodeString` + `qrCodeBase64`) that the customer scans in their
          bank app. Expires in 15 minutes. Reconciled by the QR's embedded
          `externalId` for guaranteed 1:1 matching.
      properties:
        type:
          type: string
          enum: [pix_transfer, pix_qr]
          description: |
            - `pix_transfer`: returned for `paymentMethod=instant_bank_transfer`.
            - `pix_qr`: returned for `paymentMethod=pix_qr`.
        pixKey:
          type: string
          description: |
            Present only when `type=pix_transfer`. Dinaria's static PIX deposit key.
            The customer initiates a PIX transfer to this key from their bank app.
          example: "bc8ba248-fb33-4022-bea1-c9fab2efd341"
        pixKeyType:
          type: string
          enum: [random]
          description: Present only when `type=pix_transfer`. Type of the PIX key (EVP/random).
        qrCodeString:
          type: string
          description: |
            Present only when `type=pix_qr`. The EMV/BR-Code TLV payload as a
            single string — render it with any standard QR encoder, or display
            it verbatim for "copy-and-paste PIX". Customers scan this with their
            bank app to pay the exact amount.
          example: "00020101021226790014br.gov.bcb.pix2557brcode.example.com/v2/...6304ABCD"
        qrCodeBase64:
          type: string
          description: |
            Present only when `type=pix_qr`. Base64-encoded PNG of the QR code,
            ready to embed directly in HTML via
            `<img src="data:image/png;base64,...">` — no extra rendering step.
        qrExpiresAt:
          type: string
          format: date-time
          description: |
            Present only when `type=pix_qr`. ISO 8601 timestamp at which the QR
            becomes invalid (15 minutes from creation). For `pix_qr` orders this
            value is identical to the order's top-level `expiresAt` /
            `expirationDate`. After this instant the merchant must create a
            new payment if the customer wants to retry.
          example: "2026-05-13T16:34:26Z"
        reference:
          type: string
          description: |
            The transactionId. For `pix_transfer` payments, instruct the customer
            to include this in the PIX transfer description so the reconciler can
            match the payment. For `pix_qr` payments, the reference is already
            embedded in the QR code's `externalId` — exposed here for traceability.
          example: "f90c7c31-7a38-46dc-99ba-188a4c99da29"

    PaymentRequest:
      type: object
      required:
        - amount
        - currency
        - customer
      properties:
        merchantId:
          type: string
          description: |
            Target merchant ID. Required when using an account-level API key.
            Automatically resolved when using a merchant-scoped key.
          example: acme_ars_merch1
        amount:
          type: string
          description: Decimal string with up to 2 decimal places. Must be > 0.
          example: "1500.00"
        currency:
          type: string
          enum: [ARS, BRL]
          description: ISO 4217 currency code.
        paymentMethod:
          type: string
          enum: [bank_transfer, instant_bank_transfer, pix_qr]
          description: |
            Payment method to use. If omitted, the platform selects the default for the currency:
            - `ARS` → `bank_transfer` (CBU/CVU bank transfer).
            - `BRL` → `instant_bank_transfer` (static PIX deposit key; reconciled
              by CPF/CNPJ + amount).

            **Brazil only — opt-in alternative:**
            - `pix_qr`: a per-order **dynamic** PIX QR (BR-Code) is minted at
              creation time. The response carries `paymentData.qrCodeString` and
              `paymentData.qrCodeBase64`. Reconciliation uses the QR's embedded
              `externalId` for guaranteed 1:1 matching. The QR (and the order)
              expires in 15 minutes regardless of `expiresAfter` / `expiration`.

            `pix_qr` is **not yet available for ARS** — dynamic-QR support
            for Argentina is on the roadmap.
        customer:
          $ref: "#/components/schemas/Customer"
        externalId:
          type: string
          description: Your internal order reference. Returned in responses and webhooks.
          example: ORD-1001
        allowOverUnder:
          type: boolean
          default: false
          description: |
            **ARS only.** When `true`, the reconciler will match this order even if the
            received transfer amount differs slightly from `amount` (rounding, bank fees).
            The most recently created matching order takes priority.
        expiresAfter:
          type: integer
          description: |
            Lifetime of this payment order in **seconds** from creation time.
            When set, the order will transition to `expired` status after this many seconds.
            Takes precedence over the legacy `expiration` field and the merchant's
            `defaultOrderExpirationHours` setting.
            If neither `expiresAfter` nor `expiration` is provided, the platform default
            applies (currently 24 hours / 86 400 s).

            **Note:** ignored when `paymentMethod=pix_qr` — the QR code carries
            its own hard 15-minute expiry and the order expiration is aligned
            to it so the customer can never see a still-open order with a dead
            QR.
          example: 3600
        expiration:
          type: string
          format: date-time
          description: |
            **Deprecated in favour of `expiresAfter`.**
            ISO 8601 absolute datetime after which the order expires.
            Ignored for `paymentMethod=pix_qr` (forced to creation + 15 minutes).
        metadata:
          type: object
          description: Free-form key-value pairs. Returned in responses and webhooks.
          additionalProperties:
            type: string
        successUrl:
          type: string
          format: uri
          description: Redirect URL on payment success (for redirect-based flows).
        cancelUrl:
          type: string
          format: uri
          description: Redirect URL on payment cancellation.

    PaymentListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/PaymentResponse"
        hasMore:
          type: boolean
          description: |
            `true` if more records exist after this page. Fetch the next page by
            passing the `transactionId` of the last item as `startingAfter`.

    PaymentResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: Platform-generated payment identifier. Store this.
          example: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId:
          type: string
          example: acme_ars_merch1
        externalId:
          type: string
          description: Your internal order reference, mirrored from the request.
          example: ORD-1001
        status:
          type: string
          enum: [started, confirmed, cancelled, expired]
          description: |
            - `started`: Payment created, awaiting customer transfer.
            - `confirmed`: Transfer received and matched. Terminal.
            - `cancelled`: Mismatched or rejected. Terminal.
            - `expired`: Order expired before matching. Terminal.
        amount:
          type: string
          example: "1500.00"
        currency:
          type: string
          example: ARS
        paymentMethod:
          type: string
          description: Resolved payment method code.
          example: bank_transfer
        rail:
          type: string
          description: Resolved rail code from the routing table.
          example: ar_bank_transfer
        bankSystemReference:
          type: string
          description: |
            **ARS**: Banking system reference number included in the transfer instructions.
            Not present for BRL.
          example: "9032000000000000023"
        bankSystemTrxId:
          type: string
          description: |
            Banking system transaction ID, populated when the payment is confirmed.
            **ARS**: COELSA clearing ID assigned on settlement.
            **BRL**: not currently populated.
        paymentData:
          oneOf:
            - $ref: "#/components/schemas/PaymentDataARS"
            - $ref: "#/components/schemas/PaymentDataBRL"
          description: Transfer instructions to display to the customer.
        customer:
          $ref: "#/components/schemas/Customer"
        receivedAmount:
          type: string
          description: Actual amount received (may differ when `allowOverUnder` is true).
        receivedAt:
          type: string
          format: date-time
          description: Timestamp when the transfer was matched.
        reconciliationStatus:
          type: string
          description: Internal reconciliation detail (e.g. `matched`, `matched_over_under_over`).
        refunded:
          type: boolean
        refundedAmount:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp when this payment order will expire (or has expired).
            Identical to `expirationDate`; prefer this field for new integrations.
        expirationDate:
          type: string
          format: date-time
          description: "Deprecated alias for `expiresAt`. Both fields are always present."
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the payment order was created.

    PayoutBeneficiary:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Beneficiary full name or legal entity name.
          example: María González
        documentType:
          type: string
          enum: [RIF, CUIT, CPF, CNPJ]
          description: |
            Beneficiary document type for the destination country:
            optional `RIF` for Venezuela, generally `CUIT` for Argentina, and `CPF` or `CNPJ`
            for Brazil. Required for Argentina and Brazil.
        documentNumber:
          type: string
          description: Beneficiary document number. Optional for Venezuela; required for Argentina and Brazil.
          example: V40001469
        mobile:
          type: string
          description: Required for the `ve_mobile_payment` rail.
          example: "+58 424 2005748"

    PayoutPixKey:
      type: object
      required: [type, value]
      properties:
        type:
          type: string
          enum: [cpf, cnpj, email, phone, evp]
          description: PIX key type. `evp` is a random PIX key.
        value:
          type: string
          description: PIX key value in the format corresponding to `type`.
          example: "12345678901"

    PayoutVEBankCode:
      type: string
      title: Venezuela bank code
      description: |
        Bank entity code. Always send this value as a four-character string; never
        convert it to a number. Supported values:

        - `0102` — Banco de Venezuela
        - `0104` — Venezolano de Crédito
        - `0105` — Banco Mercantil
        - `0108` — Banco Provincial
        - `0114` — Bancaribe
        - `0115` — Banco Exterior
        - `0128` — Banco Caroní
        - `0134` — Banesco
        - `0137` — Banco Sofitasa
        - `0138` — Banco Plaza
        - `0146` — Bangente
        - `0151` — BFC Banco Fondo Común
        - `0156` — 100% Banco
        - `0157` — Del Sur Banco Universal
        - `0163` — Banco del Tesoro
        - `0166` — Banco Agrícola de Venezuela
        - `0168` — Bancrecer
        - `0169` — R4 Banco
        - `0171` — Banco Activo
        - `0172` — Bancamiga
        - `0173` — Banco Internacional de Desarrollo
        - `0174` — Banplus
        - `0175` — Banco Digital de los Trabajadores
        - `0177` — BANFANB
        - `0178` — N58 Banco Digital
        - `0191` — Banco Nacional de Crédito
        - `0601` — Instituto Municipal de Crédito Popular
        - `3621` — Banco de Comercio Exterior
      minLength: 4
      maxLength: 4
      pattern: '^\d{4}$'
      enum:
        - "0102"
        - "0104"
        - "0105"
        - "0108"
        - "0114"
        - "0115"
        - "0128"
        - "0134"
        - "0137"
        - "0138"
        - "0146"
        - "0151"
        - "0156"
        - "0157"
        - "0163"
        - "0166"
        - "0168"
        - "0169"
        - "0171"
        - "0172"
        - "0173"
        - "0174"
        - "0175"
        - "0177"
        - "0178"
        - "0191"
        - "0601"
        - "3621"
      example: "0102"

    PayoutRailVEBankAccount:
      title: Venezuela bank account
      type: object
      required: [type, bankCode, accountNumber]
      properties:
        type:
          type: string
          enum: [ve_bank_account]
        bankCode:
          $ref: "#/components/schemas/PayoutVEBankCode"
        accountNumber:
          type: string
          minLength: 20
          maxLength: 20
          pattern: '^\d{20}$'
          description: |
            Beneficiary bank account number. Must contain exactly 20 digits and its first
            four digits must match the selected `bankCode`.
          example: "01020305810000263562"

    PayoutRailVEMobilePayment:
      title: Venezuela mobile payment
      type: object
      required: [type, bankCode]
      properties:
        type:
          type: string
          enum: [ve_mobile_payment]
        bankCode:
          $ref: "#/components/schemas/PayoutVEBankCode"

    PayoutRailVECash:
      title: Venezuela cash
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [ve_cash_pickup]
          description: Cash payout. Bank details are not required.

    PayoutRailARCVU:
      title: Argentina CVU
      type: object
      required: [type, cvu]
      properties:
        type:
          type: string
          enum: [ar_cvu]
        cvu:
          type: string
          pattern: '^\d{22}$'
          description: Beneficiary's 22-digit CVU.
          example: "2850590940090418135201"

    PayoutRailARCBU:
      title: Argentina CBU
      type: object
      required: [type, cbu]
      properties:
        type:
          type: string
          enum: [ar_cbu]
        cbu:
          type: string
          pattern: '^\d{22}$'
          description: Beneficiary's 22-digit CBU.
          example: "0070327530004025541644"

    PayoutRailARAlias:
      title: Argentina alias
      type: object
      required: [type, alias]
      properties:
        type:
          type: string
          enum: [ar_alias]
        alias:
          type: string
          description: Beneficiary's CBU/CVU alias.
          example: mialias

    PayoutRailBRPix:
      title: Brazil PIX
      type: object
      required: [type, pixKey]
      properties:
        type:
          type: string
          enum: [br_pix]
        pixKey:
          $ref: "#/components/schemas/PayoutPixKey"

    PayoutRail:
      description: Country-specific delivery rail. Select the schema matching the destination country.
      oneOf:
        - $ref: "#/components/schemas/PayoutRailVEBankAccount"
        - $ref: "#/components/schemas/PayoutRailVEMobilePayment"
        - $ref: "#/components/schemas/PayoutRailVECash"
        - $ref: "#/components/schemas/PayoutRailARCBU"
        - $ref: "#/components/schemas/PayoutRailARCVU"
        - $ref: "#/components/schemas/PayoutRailARAlias"
        - $ref: "#/components/schemas/PayoutRailBRPix"
      discriminator:
        propertyName: type
        mapping:
          ve_bank_account: "#/components/schemas/PayoutRailVEBankAccount"
          ve_mobile_payment: "#/components/schemas/PayoutRailVEMobilePayment"
          ve_cash_pickup: "#/components/schemas/PayoutRailVECash"
          ar_cbu: "#/components/schemas/PayoutRailARCBU"
          ar_cvu: "#/components/schemas/PayoutRailARCVU"
          ar_alias: "#/components/schemas/PayoutRailARAlias"
          br_pix: "#/components/schemas/PayoutRailBRPix"

    PayoutFiatDestination:
      type: object
      required: [country, beneficiary, rail]
      properties:
        country:
          type: string
          enum: [VE, AR, BR]
        currency:
          type: string
          enum: [VES, ARS, BRL]
          description: Destination currency. Required for Argentina and Brazil; Venezuela remittances settle in VES.
        beneficiary:
          $ref: "#/components/schemas/PayoutBeneficiary"
        rail:
          $ref: "#/components/schemas/PayoutRail"

    PayoutOnRampDestination:
      type: object
      required: [identifierType, identifierValue]
      description: Legacy destination shape used only for BRL to USDT on-ramp payouts.
      properties:
        identifierType:
          type: string
          enum: [tron_address]
        identifierValue:
          type: string
          description: Tron wallet address.
          example: TUcVE7YGbVJ2oXe7e3MiHAGiDqEbVz1GkB
        name:
          type: string
        destinationCurrency:
          type: string
          enum: [USDT]
        network:
          type: string
          enum: [mainnet, shasta]
        settlement:
          type: string
          enum: [D0, D1, D2]

    PayoutDestination:
      description: Fiat payout destination, or the legacy on-ramp destination shape.
      oneOf:
        - $ref: "#/components/schemas/PayoutFiatDestination"
        - $ref: "#/components/schemas/PayoutOnRampDestination"

    PayoutRemitter:
      type: object
      description: Sender identity and contact data. Required for remittance use cases.
      required: [identification, firstName, lastName]
      properties:
        identification:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date
        nationality:
          type: string
          description: ISO 3166-1 alpha-3 nationality code.
        mobile:
          type: string
        address:
          type: string
        email:
          type: string
          format: email

    PayoutRequest:
      type: object
      required:
        - amount
        - currency
        - destination
      properties:
        amount:
          type: string
          description: Decimal string. Must be ≤ merchant balance.
          example: "500.00"
        currency:
          type: string
          enum: [USDT, ARS, BRL]
        destination:
          $ref: "#/components/schemas/PayoutDestination"
        externalId:
          type: string
          example: PAY-OUT-001
        remitter:
          allOf:
            - $ref: "#/components/schemas/PayoutRemitter"
          description: Required when the payout represents a remittance, including the Venezuela remittance flow.
        customerId:
          type: string
          description: Optional — link payout to an existing customer record.
        metadata:
          type: object
          additionalProperties:
            type: string

    PayoutResponse:
      type: object
      properties:
        id:
          type: string
          description: Platform-generated payout identifier (UUID).
          example: 1078d6c2-a452-44fb-94f4-525390231ce2
        accountId:
          type: string
          description: Account that owns this payout.
          example: acme_ars
        merchantId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: |
            - `pending`: Queued, not yet submitted to the payment network.
            - `processing`: Submitted and awaiting final confirmation.
            - `completed`: Transfer confirmed by the banking/payment system. Terminal.
            - `failed`: Permanently rejected after max retry attempts. Balance restored. Terminal.
        amount:
          type: string
          example: "500.00"
        currency:
          type: string
          example: ARS
        destination:
          $ref: "#/components/schemas/PayoutDestination"
        bankSystemTrxId:
          type: string
          description: Banking system / payment network transaction ID assigned on completion.
          example: 3D5W612E65ZJKDJW2GXYVR
        errorMessage:
          type: string
          description: Present when status is `failed`.
        attempts:
          type: integer
        externalId:
          type: string
        customerId:
          type: string
        createdAt:
          type: string
          format: date-time
        submittedAt:
          type: string
          format: date-time
          description: When the payout was submitted to the payment network.
        completedAt:
          type: string
          format: date-time
        destCurrency:
          type: string
          description: Destination currency for a payout that includes currency conversion.
          example: VES
        destinationCurrency:
          type: string
          description: Destination currency for a payout that includes currency conversion.
          example: VES
        fixedFee:
          type: string
          description: Fixed fee charged for the conversion.
          example: "0.60"
        amountToConvert:
          type: string
          description: Source amount converted after deducting the fixed fee.
          example: "24.40"
        destinationAmount:
          type: string
          description: Amount delivered in the destination currency.
          example: "881.71"
        exchangeRate:
          type: string
          description: Exchange rate applied to the payout.
          example: "36.1355"

    PayoutRatesResponse:
      type: object
      properties:
        fromCurrency:
          type: string
          example: USDT
        amount:
          type: string
          example: "25.00"
        destCurrency:
          type: string
          example: VES
        fixedFee:
          type: string
          example: "0.60"
        amountToConvert:
          type: string
          example: "24.40"
        exchangeRate:
          type: string
          example: "36.1355"
        destinationAmount:
          type: string
          example: "881.71"
        toCurrency:
          type: string
          description: Used by the BRL to USDT on-ramp rate response.
          example: USDT
        price:
          type: number
          description: Used by the BRL to USDT on-ramp rate response. BRL per 1 USDT.
          example: 5.72
        settlement:
          type: string
          description: Used by the BRL to USDT on-ramp rate response.
          enum: [D0, D1, D2]
          example: D0
        indicativeAt:
          type: string
          format: date-time

    PayoutListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/PayoutResponse"
        hasMore:
          type: boolean

    # ── Blockchain Access schemas ──────────────────────────────

    TronAddressBalanceResponse:
      type: object
      properties:
        address:
          type: string
          description: Tron address queried.
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        network:
          type: string
          description: Network code (`mainnet` or `shasta`).
          example: mainnet
        trxSun:
          type: string
          description: TRX balance in sun (1 TRX = 1,000,000 sun).
          example: "1500000000"
        tokens:
          type: array
          description: TRC-20 token balances for each requested contract.
          items:
            $ref: "#/components/schemas/TronTokenBalanceEntry"

    TronTokenBalanceEntry:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        symbol:
          type: string
          example: USDT
        decimals:
          type: integer
          example: 6
        balance:
          type: string
          description: Raw balance in the token's smallest unit. Divide by 10^decimals for human-readable amount.
          example: "50000000"

    TronContractBalanceResponse:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        owner:
          type: string
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        balance:
          type: string
          description: Raw balance in token's smallest unit.
          example: "50000000"
        decimals:
          type: integer
          example: 6

    TronAllowanceResponse:
      type: object
      properties:
        contract:
          type: string
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        owner:
          type: string
          example: TOwnerAddr...
        spender:
          type: string
          example: TSpenderAddr...
        allowance:
          type: string
          description: Approved amount in token's smallest unit.
          example: "0"
        decimals:
          type: integer
          example: 6

    TronBroadcastRequest:
      type: object
      required: [signedTransaction]
      properties:
        network:
          type: string
          enum: [mainnet, shasta]
          default: mainnet
          description: Target network. Can also be set via the `X-Network` header.
        signedTransaction:
          type: object
          description: |
            The signed transaction object from Tron's `triggersmartcontract` after adding the signature.
            Must include `raw_data`, `raw_data_hex`, `txID`, and `signature` fields.
        clientReference:
          type: string
          description: Optional caller-defined reference stored with the submission.

    TronBroadcastResponse:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
          description: Dinaria-internal UUID for polling status.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        status:
          type: string
          enum: [pending, confirmed, failed]
          example: pending
        network:
          type: string
          example: mainnet
        txid:
          type: string
          nullable: true
          description: On-chain transaction ID once confirmed.
          example: a1b2c3d4...
        submittedAt:
          type: string
          format: date-time
          nullable: true
        clientReference:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true

    TronSubmissionResponse:
      type: object
      properties:
        submissionId:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        status:
          type: string
          enum: [pending, confirmed, failed]
          description: |
            `pending` — submitted, not yet on-chain.
            `confirmed` — included in a block.
            `failed` — node rejected or dropped.
          example: confirmed
        network:
          type: string
          example: mainnet
        txid:
          type: string
          nullable: true
          example: a1b2c3d4...
        submittedAt:
          type: string
          format: date-time
          nullable: true
        clientReference:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true

    TronNetworkListResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/TronNetworkItem"

    TronNetworkItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: mainnet
        type:
          type: string
          example: tron
        displayName:
          type: string
          example: Tron Mainnet
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    TronNetworkDetailResponse:
      type: object
      properties:
        network:
          $ref: "#/components/schemas/TronNetworkItem"
        assets:
          type: array
          description: TRC-20 tokens registered in Dinaria's catalog for this network.
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              contractAddress:
                type: string
                example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
              symbol:
                type: string
                example: USDT
              decimals:
                type: integer
                example: 6
              tokenStandard:
                type: string
                example: TRC-20
              isBroadcastAllowed:
                type: boolean
              isActive:
                type: boolean
        rpcNodes:
          type: array
          description: RPC endpoint configuration for the network.
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              baseUrl:
                type: string
                example: https://api.trongrid.io
              priority:
                type: integer
              isActive:
                type: boolean

    MerchantSettingsRequest:
      type: object
      description: |
        All fields are optional — omit any field to leave it unchanged.
      properties:
        defaultTransferExpirationHours:
          type: number
          minimum: 0
          description: |
            Hours an **unmatched incoming bank transfer** is held before auto-refund.
            `0` = hold indefinitely (no auto-refund).
            Only applies when `refundPolicy` is `on_expiration`.
          example: 24
        defaultOrderExpirationHours:
          type: number
          minimum: 0
          description: |
            Hours a **payment order** (created via POST /payments) remains open before expiring.
            `0` = orders never expire automatically.
            An explicit `expiration` value on the order takes precedence.
          example: 48
        refundPolicy:
          type: string
          enum: [on_reception, on_expiration]
          description: |
            - `on_reception`: Unmatched incoming transfers are refunded immediately.
            - `on_expiration`: Transfers are held for `defaultTransferExpirationHours`, then refunded.

    MerchantSettingsResponse:
      type: object
      properties:
        merchantId:
          type: string
        defaultTransferExpirationHours:
          type: number
        defaultOrderExpirationHours:
          type: number
        refundPolicy:
          type: string
          enum: [on_reception, on_expiration]

    WebhookRegistrationRequest:
      type: object
      required: [webhookUrl]
      properties:
        webhookUrl:
          type: string
          format: uri
          description: |
            HTTPS URL on your server where payment events will be delivered.
            With a **merchant-scoped** API key, the registration is stored for that merchant only.
            With an **account-scoped** key, the registration applies to all merchants under the account.
          example: https://your-server.com/webhooks/dinaria

    WebhookRegistrationResponse:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        webhookSecret:
          type: string
          description: |
            HMAC-SHA256 signing secret. **Shown only once — store it securely.**
            You will use this to verify the `X-Webhook-Signature` on every incoming event.
          example: whsec_9f3c2a1b7d5e4c3a...
        createdAt:
          type: string
          format: date-time

    WebhookRotateResponse:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        webhookSecret:
          type: string
          description: New signing secret. Shown only once.
          example: whsec_2b91d0f6a1d34f0b...
        rotatedAt:
          type: string
          format: date-time
        previousSecretExpiresAt:
          type: string
          format: date-time
          nullable: true
          description: When the old secret stops being accepted (grace period).

    WebhookRotateRequest:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
          description: |
            Registered URL to rotate. Include this when you have **more than one** webhook URL
            under the same API key scope so the correct row is selected.
        merchantId:
          type: string
          description: |
            **Account-scoped API keys only:** set this to rotate the webhook registered for a
            **specific merchant** under your account. Omit to rotate the **account-level** registration
            (the webhook you registered with the account-wide key).
            With a **merchant-scoped** API key, do **not** send `merchantId` — the merchant is implied by the key.

    WebhookListItem:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
        scope:
          type: string
          enum: [merchant, account]
        createdAt:
          type: string
          format: date-time

    WebhookListResponse:
      type: object
      required: [object, data]
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookListItem"

    WebhookDeleteRequest:
      type: object
      required: [webhookUrl]
      properties:
        webhookUrl:
          type: string
          format: uri
          description: The exact URL previously registered to remove.

    WebhookPaymentEvent:
      type: object
      description: |
        Event delivered by the platform to your registered webhook URL when a payment changes status.
        Delivery is at-least-once — deduplicate by `transactionId`.
      properties:
        transactionId:
          type: string
        externalId:
          type: string
        merchantId:
          type: string
        status:
          type: string
          enum: [started, confirmed, cancelled, expired]
        amount:
          type: string
        currency:
          type: string
        bankSystemTrxId:
          type: string
          nullable: true
          description: Banking system transaction ID, present when status is `confirmed`.
        receivedAmount:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
        customer:
          $ref: "#/components/schemas/Customer"

  # ── Reusable examples ─────────────────────────────────────

  examples:

    # POST /payments — request
    PaymentRequestARS:
      summary: "ARS — CUIT customer"
      value:
        merchantId: acme_ars_merch1
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        externalId: ORD-1001
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        metadata:
          orderId: ORD-1001

    PaymentRequestARSDNI:
      summary: "ARS — DNI customer (Paypaga reseller pattern)"
      value:
        merchantId: acme_ars_merch1
        amount: "500.00"
        currency: ARS
        externalId: ORD-1002
        allowOverUnder: true
        customer:
          name: María López
          documentType: DNI
          documentNumber: "22137007"

    PaymentRequestBRL:
      summary: "BRL — CPF customer"
      value:
        merchantId: bpn_merch_1
        amount: "100.00"
        currency: BRL
        paymentMethod: instant_bank_transfer
        externalId: ORD-2001
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        metadata:
          orderId: ORD-2001

    PaymentRequestBRLCNPJ:
      summary: "BRL — CNPJ customer (company)"
      value:
        merchantId: bpn_merch_1
        amount: "250.00"
        currency: BRL
        externalId: ORD-2002
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"

    PaymentRequestBRLPixQR:
      summary: "BRL — dynamic PIX QR (Brazil only)"
      value:
        merchantId: bpn_merch_1
        amount: "100.00"
        currency: BRL
        paymentMethod: pix_qr
        externalId: ORD-2003
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"
        metadata:
          orderId: ORD-2003

    # POST /payments — response
    PaymentResponseARS:
      summary: "ARS — started"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId: acme_ars_merch1
        externalId: ORD-1001
        status: started
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        rail: ar_bank_transfer
        bankSystemReference: "9032000000000000023"
        paymentData:
          type: transfer_to_cbu
          cbu: "4310009922100000122004"
          reference: "9032000000000000023"
        customer:
          id: ea272dd4-bde7-4d9a-a432-0de9e9566af5
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        reconciliationStatus: unknown

    PaymentResponseARSConfirmed:
      summary: "ARS — confirmed"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        merchantId: acme_ars_merch1
        externalId: ORD-1001
        status: confirmed
        amount: "1500.00"
        currency: ARS
        paymentMethod: bank_transfer
        rail: ar_bank_transfer
        bankSystemTrxId: A7B3C9D1E2F4G5H6I7J8K
        receivedAmount: "1500.00"
        receivedAt: "2026-03-10T15:30:00Z"
        reconciliationStatus: matched
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"

    PaymentResponseBRL:
      summary: "BRL — started (static PIX key)"
      value:
        transactionId: f90c7c31-7a38-46dc-99ba-188a4c99da29
        merchantId: bpn_merch_1
        externalId: ORD-2001
        status: started
        amount: "100.00"
        currency: BRL
        paymentMethod: instant_bank_transfer
        rail: pix
        paymentData:
          type: pix_transfer
          pixKey: bc8ba248-fb33-4022-bea1-c9fab2efd341
          pixKeyType: random
          reference: f90c7c31-7a38-46dc-99ba-188a4c99da29
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        reconciliationStatus: unknown

    PaymentResponseBRLPixQR:
      summary: "BRL — started (dynamic PIX QR)"
      value:
        transactionId: 3d99d177-aa3f-4b34-9e1d-8d5b69e0c1b1
        merchantId: bpn_merch_1
        externalId: ORD-2003
        status: started
        amount: "100.00"
        currency: BRL
        paymentMethod: pix_qr
        rail: pix
        expirationDate: "2026-05-13T16:34:26Z"
        expiresAt: "2026-05-13T16:34:26Z"
        paymentData:
          type: pix_qr
          qrCodeString: "00020101021226790014br.gov.bcb.pix2557brcode.example.com/v2/e9570fcb77f94a27adb462e9b09591ce5204000053039865802BR5907Dinaria6014Rio de Janeiro62070503***6304ABCD"
          qrCodeBase64: "iVBORw0KGgoAAAANSUhEUgAAAVkAAAFZAQAAAAAaiWF2AAA...(truncated)"
          qrExpiresAt: "2026-05-13T16:34:26Z"
          reference: 3d99d177-aa3f-4b34-9e1d-8d5b69e0c1b1
        customer:
          name: Belo Brasil Ltda
          documentType: CNPJ
          documentNumber: "58084921000160"
        reconciliationStatus: unknown

    # POST /payouts — request
    PayoutRequestVE:
      summary: "Venezuela remittance — bank account"
      value:
        amount: "25.00"
        currency: USDT
        externalId: order-123
        destination:
          country: VE
          beneficiary:
            name: María González
            documentType: RIF
            documentNumber: V40001469
          rail:
            type: ve_bank_account
            bankCode: "0102"
            accountNumber: "01020305810000263562"
        remitter:
          identification: V201234567
          firstName: Juan
          lastName: Pérez
          birthDate: "1985-06-15"
          nationality: ARG
          mobile: "04141234567"
          address: Buenos Aires, Argentina
          email: remitente@example.com

    PayoutRequestVEMobile:
      summary: "Venezuela remittance — mobile payment"
      value:
        amount: "10.00"
        currency: USDT
        externalId: order-456
        destination:
          country: VE
          beneficiary:
            name: Wil Barragán
            documentType: RIF
            documentNumber: V27127416
            mobile: "+58 424 2005748"
          rail:
            type: ve_mobile_payment
            bankCode: "0175"
        remitter:
          identification: V201234567
          firstName: Juan
          lastName: Pérez
          birthDate: "1985-06-15"
          nationality: ARG
          mobile: "04141234567"
          address: Buenos Aires, Argentina
          email: remitente@example.com

    PayoutRequestVECash:
      summary: "Venezuela remittance — cash"
      value:
        amount: "10.00"
        currency: USDT
        externalId: order-cash-789
        destination:
          country: VE
          beneficiary:
            name: María González
            documentType: RIF
            documentNumber: V40001469
          rail:
            type: ve_cash_pickup
        remitter:
          identification: V201234567
          firstName: Juan
          lastName: Pérez

    PayoutRequestARSCBU:
      summary: "Argentina — CBU destination"
      value:
        amount: "1500.00"
        currency: ARS
        externalId: order-ar-cbu-123
        destination:
          country: AR
          currency: ARS
          beneficiary:
            name: María González
            documentType: CUIT
            documentNumber: "27-12345678-5"
          rail:
            type: ar_cbu
            cbu: "0070327530004025541644"

    PayoutRequestARS:
      summary: "Argentina — CVU destination"
      value:
        amount: "1500.00"
        currency: ARS
        externalId: order-ar-123
        destination:
          country: AR
          currency: ARS
          beneficiary:
            name: María González
            documentType: CUIT
            documentNumber: "27-12345678-5"
          rail:
            type: ar_cvu
            cvu: "2850590940090418135201"

    PayoutRequestARSAlias:
      summary: "Argentina — alias destination"
      value:
        amount: "200.00"
        currency: ARS
        externalId: payout-ar-alias-123
        destination:
          country: AR
          currency: ARS
          beneficiary:
            name: María González
            documentType: CUIT
            documentNumber: "27-12345678-5"
          rail:
            type: ar_alias
            alias: mialias

    PayoutRequestBRLPix:
      summary: "Brazil — PIX (CPF key)"
      value:
        amount: "150.00"
        currency: BRL
        externalId: payout-br-123
        destination:
          country: BR
          currency: BRL
          beneficiary:
            name: João Silva
            documentType: CPF
            documentNumber: "12345678901"
          rail:
            type: br_pix
            pixKey:
              type: cpf
              value: "12345678901"

    PayoutRequestBRLPixRandom:
      summary: "Brazil — PIX (EVP key)"
      value:
        amount: "75.50"
        currency: BRL
        externalId: payout-br-evp-123
        destination:
          country: BR
          currency: BRL
          beneficiary:
            name: João Silva
            documentType: CPF
            documentNumber: "12345678901"
          rail:
            type: br_pix
            pixKey:
              type: evp
              value: a1b2c3d4-e5f6-7890-abcd-ef1234567890

    # POST /payouts — response
    PayoutResponseVE:
      summary: "Venezuela remittance processing"
      value:
        id: 9ca35a0b-1097-464c-91ea-c0bbcb3d8dd8
        accountId: account_123
        merchantId: merchant_123
        externalId: order-123
        amount: "25.00"
        currency: USDT
        destCurrency: VES
        destinationCurrency: VES
        fixedFee: "0.60"
        amountToConvert: "24.40"
        exchangeRate: "36.1355"
        destinationAmount: "881.71"
        destination:
          country: VE
          beneficiary:
            name: María González
            documentType: RIF
            documentNumber: V40001469
          rail:
            type: ve_bank_account
            bankCode: "0102"
            accountNumber: "01020305810000263562"
        status: processing
        bankSystemTrxId: "1608460"
        attempts: 1
        createdAt: "2026-07-22T15:00:00Z"

    PayoutResponsePending:
      summary: "Argentina payout pending"
      value:
        id: de598197-bb56-4a92-af5c-f4929a84ed1a
        amount: "1500.00"
        currency: ARS
        destination:
          country: AR
          currency: ARS
          beneficiary:
            name: María González
            documentType: CUIT
            documentNumber: "27-12345678-5"
          rail:
            type: ar_cvu
            cvu: "2850590940090418135201"
        status: pending
        createdAt: "2026-03-11T23:01:17Z"

    PayoutResponseCompleted:
      summary: "Argentina payout completed"
      value:
        id: de598197-bb56-4a92-af5c-f4929a84ed1a
        status: completed
        amount: "1500.00"
        currency: ARS
        destination:
          country: AR
          currency: ARS
          beneficiary:
            name: María González
            documentType: CUIT
            documentNumber: "27-12345678-5"
          rail:
            type: ar_cvu
            cvu: "2850590940090418135201"
        bankSystemTrxId: 3D5W612E65ZJKDJW2GXYVR
        attempts: 1
        createdAt: "2026-03-11T23:01:17Z"
        submittedAt: "2026-03-11T23:01:32Z"
        completedAt: "2026-03-11T23:01:44Z"

    PayoutResponseCompletedBRL:
      summary: "Brazil PIX payout completed"
      value:
        id: d1e2f3a4-b5c6-7890-abcd-ef0123456789
        status: completed
        amount: "150.00"
        currency: BRL
        externalId: payout-br-123
        destination:
          country: BR
          currency: BRL
          beneficiary:
            name: João Silva
            documentType: CPF
            documentNumber: "12345678901"
          rail:
            type: br_pix
            pixKey:
              type: cpf
              value: "12345678901"
        bankSystemTrxId: f4e3d2c1-b0a9-8765-4321-fedcba987654
        attempts: 1
        createdAt: "2026-03-11T23:01:17Z"
        submittedAt: "2026-03-11T23:01:32Z"
        completedAt: "2026-03-11T23:01:44Z"

    PayoutRequestOnRamp:
      summary: "On-ramp (BRL → USDT on Tron)"
      value:
        amount: "1000.00"
        currency: BRL
        destination:
          identifierType: tron_address
          identifierValue: TUcVE7YGbVJ2oXe7e3MiHAGiDqEbVz1GkB
          name: My USDT Wallet
          destinationCurrency: USDT
          network: mainnet
          settlement: D0

    PayoutResponseOnRamp:
      summary: "On-ramp completed (BRL → USDT)"
      value:
        id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
        accountId: acme_br
        merchantId: acme_br_merch1
        status: completed
        amount: "1000.00"
        currency: BRL
        destination:
          identifierType: tron_address
          identifierValue: TUcVE7YGbVJ2oXe7e3MiHAGiDqEbVz1GkB
          network: mainnet
          settlement: D0
        destinationCurrency: USDT
        destinationAmount: "174.825874"
        exchangeRate: "5.72000000"
        bankSystemTrxId: ord_abc123
        attempts: 1
        createdAt: "2026-04-03T14:01:00Z"
        submittedAt: "2026-04-03T14:01:00Z"
        completedAt: "2026-04-03T14:01:05Z"

    # Webhook events
    WebhookConfirmedARS:
      summary: "ARS — payment confirmed"
      value:
        transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        externalId: ORD-1001
        merchantId: acme_ars_merch1
        status: confirmed
        amount: "1500.00"
        currency: ARS
        bankSystemTrxId: A7B3C9D1E2F4G5H6I7J8K
        receivedAmount: "1500.00"
        customer:
          name: Ana Martínez
          documentType: CUIT
          documentNumber: "20221370075"
        metadata:
          orderId: ORD-1001

    WebhookConfirmedBRL:
      summary: "BRL — payment confirmed"
      value:
        transactionId: f90c7c31-7a38-46dc-99ba-188a4c99da29
        externalId: ORD-2001
        merchantId: bpn_merch_1
        status: confirmed
        amount: "100.00"
        currency: BRL
        receivedAmount: "100.00"
        customer:
          name: João Silva
          documentType: CPF
          documentNumber: "12345678901"
        metadata:
          orderId: ORD-2001

  # ── Reusable responses ────────────────────────────────────

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: unauthorized
              message: Missing or invalid API key.

    Forbidden:
      description: Valid key but insufficient permission.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            merchant_forbidden:
              value:
                error:
                  code: forbidden
                  message: Merchant does not belong to your account.
                  param: merchantId
            currency_not_enabled:
              value:
                error:
                  code: currency_not_enabled
                  message: Currency BRL is not enabled for your account.
                  param: currency
            payout_not_enabled:
              value:
                error:
                  code: payout_not_enabled
                  message: Payouts are not enabled for this merchant.

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: not_found
              message: Payment not found.

    Conflict:
      description: Idempotency-Key reused with a different request body.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: idempotency_key_reused
              message: The Idempotency-Key was reused with a different request payload.

# ─────────────────────────────────────────────────────────────
# Paths
# ─────────────────────────────────────────────────────────────
paths:

  # ── Account ───────────────────────────────────────────────

  /balance:
    get:
      tags: [Account]
      summary: Get account balance
      description: |
        Returns the current balance for your account, broken down by currency.

        Requires an **account-scoped API key** — not a merchant key.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    example: acme_br
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: BRL
                        balance:
                          type: string
                          example: "34.60"
              example:
                accountId: acme_br
                balances:
                  - currency: BRL
                    balance: "34.60"
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              example:
                code: unauthorized
                message: Invalid or missing API key.

  # ── Pay-in ────────────────────────────────────────────────

  /payments:
    post:
      tags: [Payments]
      summary: Create a payment
      description: |
        Creates a pay-in order. Returns transfer instructions in `paymentData`
        to display to the customer.

        **ARS**: Display `paymentData.cbu` and `paymentData.reference`. The customer
        initiates a CBU/CVU bank transfer and **must include the reference in the
        transfer concept/description field**. The reconciler matches it automatically.

        **BRL** — two methods (choose with `paymentMethod`):

        - `instant_bank_transfer` *(default)* — `paymentData.type = "pix_transfer"`:
          display `paymentData.pixKey` and `paymentData.reference`. The customer
          initiates a PIX transfer using the reference as the description. The
          reconciler matches by CPF/CNPJ + amount. Order expiration is
          merchant-controlled.
        - `pix_qr` — `paymentData.type = "pix_qr"`: a per-order dynamic PIX QR
          (BR-Code) is minted by Dinaria. Display `paymentData.qrCodeBase64`
          inline (`<img src="data:image/png;base64,...">`) or render
          `paymentData.qrCodeString` with any QR encoder; "copy-and-paste PIX"
          is supported by showing the same string verbatim. **The QR (and
          order) expire in 15 minutes** — any merchant-supplied `expiresAfter`
          or `expiration` is ignored. The reconciler binds the credit to this
          order via the QR's embedded `externalId`, giving guaranteed 1:1
          matching even when the payer's tax ID is unknown ahead of time.

        Payments are single-use. Create a new one for each attempt.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
            examples:
              ars_cuit:
                $ref: "#/components/examples/PaymentRequestARS"
              ars_dni:
                $ref: "#/components/examples/PaymentRequestARSDNI"
              brl_cpf:
                $ref: "#/components/examples/PaymentRequestBRL"
              brl_cnpj:
                $ref: "#/components/examples/PaymentRequestBRLCNPJ"
              brl_pix_qr:
                $ref: "#/components/examples/PaymentRequestBRLPixQR"
      responses:
        "200":
          description: Payment created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              examples:
                ars_started:
                  $ref: "#/components/examples/PaymentResponseARS"
                brl_started:
                  $ref: "#/components/examples/PaymentResponseBRL"
                brl_pix_qr_started:
                  $ref: "#/components/examples/PaymentResponseBRLPixQR"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_document:
                  value:
                    error:
                      code: invalid_document
                      message: customer.documentNumber must be a valid cuit or dni for AR.
                      param: customer.documentNumber
                missing_field:
                  value:
                    error:
                      code: invalid_request
                      message: merchantId, amount and currency are required.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [Payments]
      summary: List payments
      description: |
        Returns pay-in orders for the authenticated merchant, newest first.

        **Merchant-scoped key**: returns payments for that merchant only.
        The `merchantId` query parameter is ignored — the scope is fixed by the key.

        **Account-scoped key**: returns payments across all merchants in the account.
        Optionally pass `?merchantId=` to narrow to a single merchant.

        **Operator key**: returns all payments. Use `?merchantId=` to filter.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [started, confirmed, cancelled, expired]
          description: Filter by payment status.
        - name: currency
          in: query
          schema:
            type: string
            example: BRL
          description: Filter by currency code (e.g. `BRL`, `ARS`).
        - name: merchantId
          in: query
          schema:
            type: string
          description: |
            Filter by merchant. Only effective for account-scoped or operator keys.
            Ignored for merchant-scoped keys (scope is fixed by the key).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Number of results to return per page.
        - name: startingAfter
          in: query
          schema:
            type: string
          description: |
            Cursor pagination — pass the `transactionId` of the last item in the
            previous page to retrieve the next page.
      responses:
        "200":
          description: List of payments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
              example:
                object: list
                hasMore: false
                data:
                  - transactionId: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
                    merchantId: acme_merch1
                    amount: "150.00"
                    currency: BRL
                    status: confirmed
                    createdAt: "2026-03-11T22:57:40Z"
                    paymentData:
                      type: pix_transfer
                      pixKey: bc8ba248-fb33-4022-bea1-c9fab2efd341
                      pixKeyType: random
                      reference: a3f7c821-4b2e-4c1a-9d3f-7e8b9c0d1e2f
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /payments/{transactionId}:
    get:
      tags: [Payments]
      summary: Retrieve a payment
      description: |
        Returns the current state of a payment.

        Use this to check status after creation or to reconcile when webhooks are delayed.
        Prefer webhooks for production integrations — do not poll aggressively.
      parameters:
        - $ref: "#/components/parameters/TransactionIdPath"
      responses:
        "200":
          description: Payment details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
              examples:
                ars_confirmed:
                  $ref: "#/components/examples/PaymentResponseARSConfirmed"
                ars_started:
                  $ref: "#/components/examples/PaymentResponseARS"
                brl_started:
                  $ref: "#/components/examples/PaymentResponseBRL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /payments/{transactionId}/cancel:
    post:
      tags: [Payments]
      summary: Cancel a payment
      description: |
        Cancels a payment that is in `started` status.

        Use this when the end-user abandons the flow, the order is voided on
        your side, or you need to clear stale orders so that subsequent
        CUIT/CUIL-based matching works correctly.

        Only `started` payments can be cancelled. Payments that have already
        reached a terminal state (`confirmed`, `cancelled`, `expired`) will be
        rejected with `422 invalid_status`.

        A `payment.status_changed` webhook is dispatched immediately after a
        successful cancellation.
      parameters:
        - $ref: "#/components/parameters/TransactionIdPath"
      responses:
        "200":
          description: Payment successfully cancelled. Returns the updated payment object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Payment is not in a cancellable state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_status
                  message: "Only payments in 'started' status can be cancelled. Current status: confirmed."

  # ── Payouts ───────────────────────────────────────────────

  /payouts:
    post:
      tags: [Payouts, Stablecoin Settlement]
      summary: Create a payout
      description: |
        Sends money to a beneficiary using a country-specific payout rail.

        The merchant's balance is debited immediately at creation time.
        Processing happens asynchronously every ~5 minutes via the payout processor.

        **Venezuela remittances**: fund the payout in `USDT`; the beneficiary receives `VES`.
        Retrieve an indicative quote with `GET /payouts/rates` first. The `remitter` object is
        required for remittance use cases. Use `ve_bank_account`, `ve_mobile_payment`, or
        `ve_cash_pickup` as the rail. `ve_cash_pickup` does not require bank details.

        **Argentina**: use `ar_cbu` with `rail.cbu`, `ar_cvu` with `rail.cvu`, or
        `ar_alias` with `rail.alias`. The beneficiary document type is generally `CUIT`.

        **Brazil**: use the `br_pix` rail. `rail.pixKey.type` accepts `cpf`, `cnpj`, `email`,
        `phone`, or `evp`. The beneficiary document type must be `CPF` or `CNPJ`.

        **On-ramp (BRL → USDT)**: set `destination.identifierType` to `tron_address` and
        `destination.identifierValue` to the recipient's Tron wallet address. The conversion is
        executed synchronously — the response is returned with `status: "completed"` and the confirmed
        `exchangeRate`, `destinationAmount`, and `destinationCurrency`. Use `GET /payouts/rates` first
        to check indicative prices. Optionally set `destination.settlement` to `D0` (default), `D1`, or `D2`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
            examples:
              venezuela_bank_account:
                $ref: "#/components/examples/PayoutRequestVE"
              venezuela_mobile_payment:
                $ref: "#/components/examples/PayoutRequestVEMobile"
              venezuela_cash:
                $ref: "#/components/examples/PayoutRequestVECash"
              argentina_cbu:
                $ref: "#/components/examples/PayoutRequestARSCBU"
              argentina_cvu:
                $ref: "#/components/examples/PayoutRequestARS"
              argentina_alias:
                $ref: "#/components/examples/PayoutRequestARSAlias"
              brazil_pix_cpf:
                $ref: "#/components/examples/PayoutRequestBRLPix"
              brazil_pix_evp:
                $ref: "#/components/examples/PayoutRequestBRLPixRandom"
              on_ramp:
                $ref: "#/components/examples/PayoutRequestOnRamp"
      responses:
        "201":
          description: |
            Payout created. Fiat payouts usually start as `pending` or `processing` until the
            payment rail confirms the transfer. For on-ramp (`tron_address`) the conversion is
            synchronous and returns `completed` in the same response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
              examples:
                venezuela_processing:
                  $ref: "#/components/examples/PayoutResponseVE"
                argentina_pending:
                  $ref: "#/components/examples/PayoutResponsePending"
                brazil_completed:
                  $ref: "#/components/examples/PayoutResponseCompletedBRL"
                on_ramp:
                  $ref: "#/components/examples/PayoutResponseOnRamp"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_request
                  message: amount and currency are required.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient merchant balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: insufficient_balance
                  message: Merchant balance is insufficient for this payout.
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [Payouts]
      summary: List payouts
      description: Returns payouts for the authenticated merchant, newest first.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed]
          description: Filter by status.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: startingAfter
          in: query
          schema:
            type: string
          description: Cursor pagination — pass the `id` of the last item in the previous page.
      responses:
        "200":
          description: List of payouts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /payouts/rates:
    get:
      tags: [Payouts, Stablecoin Settlement]
      summary: Get an indicative payout conversion rate
      description: |
        Returns an indicative conversion without locking a quote. Use `USDT` to `VES` with an
        `amount` before creating a Venezuela remittance payout. The endpoint also supports the
        existing `BRL` to `USDT` on-ramp rate flow.
      parameters:
        - name: fromCurrency
          in: query
          required: true
          schema:
            type: string
            enum: [USDT, BRL]
          description: Source currency. Use `USDT` for a Venezuela remittance or `BRL` for on-ramp.
        - name: toCurrency
          in: query
          required: true
          schema:
            type: string
            enum: [VES, USDT]
          description: Destination currency. Use `VES` for a Venezuela remittance or `USDT` for on-ramp.
        - name: amount
          in: query
          schema:
            type: string
            pattern: '^\d+(\.\d{1,2})?$'
            example: "25.00"
          description: Source amount. Required for the Venezuela remittance quote.
        - name: settlement
          in: query
          schema:
            type: string
            enum: [D0, D1, D2]
            default: D0
          description: Settlement window.
      responses:
        "200":
          description: Indicative rate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutRatesResponse"
              examples:
                venezuela_remittance:
                  summary: USDT to VES remittance quote
                  value:
                    fromCurrency: USDT
                    amount: "25.00"
                    destCurrency: VES
                    fixedFee: "0.60"
                    amountToConvert: "24.40"
                    exchangeRate: "36.1355"
                    destinationAmount: "881.71"
                    indicativeAt: "2026-07-22T15:00:00Z"
                on_ramp:
                  summary: BRL to USDT on-ramp rate
                  value:
                    fromCurrency: BRL
                    toCurrency: USDT
                    price: 5.72
                    settlement: D0
                    indicativeAt: "2026-04-03T14:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: The requested conversion corridor is unavailable in this environment.

  # ── Blockchain Access ─────────────────────────────────────

  /v1/chains/networks:
    get:
      tags: [Blockchain Access]
      summary: List networks
      description: Returns all blockchain networks Dinaria supports.
      responses:
        "200":
          description: List of networks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronNetworkListResponse"
              example:
                object: list
                data:
                  - code: mainnet
                    type: tron
                    displayName: Tron Mainnet
                    isActive: true
                  - code: shasta
                    type: tron
                    displayName: Tron Shasta (Testnet)
                    isActive: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/chains/networks/{code}:
    get:
      tags: [Blockchain Access]
      summary: Get network details
      description: Returns RPC configuration, catalog assets, and status for a specific network.
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            enum: [mainnet, shasta]
          description: Network code.
      responses:
        "200":
          description: Network detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronNetworkDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/chains/tron/addresses/{address}/balance:
    get:
      tags: [Blockchain Access]
      summary: Get address balance
      description: |
        Returns the TRX balance (in sun) for any Tron address, and optionally one or more
        TRC-20 token balances. Pass `contracts` once or multiple times, or as a comma-separated value.

        `trxSun` is the TRX balance in sun (1 TRX = 1,000,000 sun). Token `balance` is in the
        token's smallest unit — divide by `10^decimals` for the human-readable amount.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: Tron address in base58check format (`T…`).
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
          description: Target network. Can also be set via `X-Network` header.
        - name: contracts
          in: query
          schema:
            type: string
          description: |
            Optional. TRC-20 contract address(es) to include token balances for.
            Repeat the parameter or use comma-separated values. Contract must exist in Dinaria's catalog.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
      responses:
        "200":
          description: Address balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronAddressBalanceResponse"
              example:
                address: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
                network: mainnet
                trxSun: "1500000000"
                tokens:
                  - contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    symbol: USDT
                    decimals: 6
                    balance: "50000000"
        "400":
          description: Invalid address or contract.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/contracts/{contract}/balance:
    get:
      tags: [Blockchain Access]
      summary: Get TRC-20 token balance
      description: Returns the TRC-20 token balance of a specific owner address for a given contract.
      parameters:
        - name: contract
          in: path
          required: true
          schema:
            type: string
          description: TRC-20 contract address. Must exist in Dinaria's catalog.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        - name: owner
          in: query
          required: true
          schema:
            type: string
          description: Address whose balance to query.
          example: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
      responses:
        "200":
          description: Token balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronContractBalanceResponse"
              example:
                contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                owner: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
                balance: "50000000"
                decimals: 6
        "400":
          description: Invalid address or missing owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/contracts/{contract}/allowance:
    get:
      tags: [Blockchain Access]
      summary: Get TRC-20 allowance
      description: Returns how much a spender is approved to transfer on behalf of an owner.
      parameters:
        - name: contract
          in: path
          required: true
          schema:
            type: string
          description: TRC-20 contract address.
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
        - name: owner
          in: query
          required: true
          schema:
            type: string
          description: Address that granted the allowance.
          example: TOwnerAddress...
        - name: spender
          in: query
          required: true
          schema:
            type: string
          description: Address that may spend on owner's behalf.
          example: TSpenderAddress...
        - name: network
          in: query
          schema:
            type: string
            enum: [mainnet, shasta]
            default: mainnet
      responses:
        "200":
          description: Allowance amount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronAllowanceResponse"
              example:
                contract: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                owner: TOwnerAddress...
                spender: TSpenderAddress...
                allowance: "0"
                decimals: 6
        "400":
          description: Invalid address or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unknown contract in catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/transactions/broadcast:
    post:
      tags: [Blockchain Access]
      summary: Broadcast a transaction
      description: |
        Submits a pre-signed Tron transaction to the network via Dinaria's full node.
        Your private key **never** leaves your system — you sign locally and pass only the signed transaction object.

        The `X-Idempotency-Key` header is required. Reusing the same key with the same body returns
        the original response without re-broadcasting.
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
          description: UUID or unique string to prevent duplicate broadcasts on retry.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TronBroadcastRequest"
            example:
              network: mainnet
              signedTransaction:
                raw_data:
                  contract: []
                  timestamp: 1712000000000
                  expiration: 1712003600000
                raw_data_hex: "0a02..."
                txID: a1b2c3...
                signature: ["3045..."]
      responses:
        "200":
          description: Transaction submitted. Poll `GET /v1/chains/tron/transactions/{submissionId}` for confirmation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronBroadcastResponse"
              example:
                submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                status: pending
                network: mainnet
                txid: a1b2c3d4...
                submittedAt: "2026-04-03T14:01:05Z"
        "400":
          description: Invalid request or node rejection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "502":
          description: All configured RPC nodes failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/chains/tron/transactions/dry-run:
    post:
      tags: [Blockchain Access]
      summary: Dry-run a transaction
      description: |
        Estimates energy consumption without broadcasting. Use before submitting to check fee cost.
        Passes the signed transaction through Tron's `triggerconstantcontract` and returns the wrapped result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TronBroadcastRequest"
            example:
              network: mainnet
              signedTransaction:
                raw_data_hex: "0a02..."
                txID: a1b2c3...
                signature: ["3045..."]
      responses:
        "200":
          description: Dry-run result from the Tron node.
          content:
            application/json:
              example:
                httpStatus: 200
                result:
                  energy_used: 13382
                  constant_result: ["..."]
                  result:
                    result: true
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/chains/tron/transactions/{submissionId}:
    get:
      tags: [Blockchain Access]
      summary: Get submission status
      description: Retrieve the status of a previously broadcast transaction by its Dinaria submission ID.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The `submissionId` returned by `POST /v1/chains/tron/transactions/broadcast`.
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: Submission status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TronSubmissionResponse"
              examples:
                pending:
                  summary: Transaction pending on-chain
                  value:
                    submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    status: pending
                    network: mainnet
                    txid: null
                    submittedAt: "2026-04-03T14:01:05Z"
                confirmed:
                  summary: Transaction confirmed
                  value:
                    submissionId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    status: confirmed
                    network: mainnet
                    txid: a1b2c3d4e5f6...
                    submittedAt: "2026-04-03T14:01:05Z"
        "400":
          description: Invalid submission ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /payouts/{payoutId}:
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      parameters:
        - $ref: "#/components/parameters/PayoutIdPath"
      responses:
        "200":
          description: Payout details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
              examples:
                venezuela:
                  $ref: "#/components/examples/PayoutResponseVE"
                argentina:
                  $ref: "#/components/examples/PayoutResponseCompleted"
                brazil:
                  $ref: "#/components/examples/PayoutResponseCompletedBRL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Merchant settings ─────────────────────────────────────

  /merchants/{id}/settings:
    put:
      tags: [Merchant Settings]
      summary: Update merchant settings
      description: |
        Configures per-merchant reconciliation behaviour.
        All fields are optional — send only the ones you want to change.

        **`defaultTransferExpirationHours`**: governs *incoming bank transfers* with no
        matching order. Only relevant when `refundPolicy` is `on_expiration`.

        **`defaultOrderExpirationHours`**: governs *payment orders* created via POST /payments.
        An explicit `expiration` value on the order takes precedence.

        **`refundPolicy`**:
        - `on_reception`: unmatched transfers are refunded immediately upon arrival.
        - `on_expiration`: transfers are held for `defaultTransferExpirationHours`, then refunded.
      parameters:
        - $ref: "#/components/parameters/MerchantIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantSettingsRequest"
            examples:
              expiration_policy:
                summary: Hold transfers 24h, orders expire after 48h
                value:
                  defaultTransferExpirationHours: 24
                  defaultOrderExpirationHours: 48
                  refundPolicy: on_expiration
              immediate_refund:
                summary: Refund immediately, orders never expire
                value:
                  refundPolicy: on_reception
      responses:
        "200":
          description: Settings updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantSettingsResponse"
              example:
                merchantId: acme_ars_merch1
                defaultTransferExpirationHours: 24
                defaultOrderExpirationHours: 48
                refundPolicy: on_expiration
        "400":
          description: Invalid value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: invalid_request
                  message: defaultTransferExpirationHours must be >= 0.
                  param: defaultTransferExpirationHours
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Webhooks ──────────────────────────────────────────────

  /webhooks/payments:
    get:
      tags: [Webhooks]
      summary: List registered webhook URLs
      description: |
        Returns webhook URLs for your API key scope. **Secrets are never returned.**
        Use a **merchant-scoped** or **account-scoped** key consistent with how you registered.
      responses:
        "200":
          description: List of registrations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
              example:
                object: list
                data:
                  - webhookUrl: https://your-server.com/webhooks/dinaria
                    scope: merchant
                    createdAt: "2026-03-10T12:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Webhooks]
      summary: Register a webhook URL
      description: |
        Registers the HTTPS URL on your server where the platform will deliver payment status events.

        Call this once during setup. If your URL changes, call again to update it.
        This endpoint is called **by you** — it does not deliver any events itself.

        **Scope** matches your API key: a **merchant-scoped** key ties the registration to that merchant;
        an **account-scoped** key registers at account level (all merchants under the account).

        The `webhookSecret` is returned **only once**. Store it securely in a secret manager.
        You will use it to verify the `X-Webhook-Signature` on every incoming event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegistrationRequest"
            example:
              webhookUrl: https://your-server.com/webhooks/dinaria
      responses:
        "201":
          description: Webhook registered. Save the `webhookSecret` — shown only once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRegistrationResponse"
              example:
                webhookUrl: https://your-server.com/webhooks/dinaria
                webhookSecret: whsec_9f3c2a1b7d5e4c3a...
                createdAt: "2026-03-10T12:00:00Z"
        "400":
          description: Invalid webhook URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Webhooks]
      summary: Deregister a webhook URL
      description: |
        Removes the registration for the given `webhookUrl` within your API key scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDeleteRequest"
            example:
              webhookUrl: https://your-server.com/webhooks/dinaria
      responses:
        "204":
          description: Webhook removed.
        "400":
          description: Missing or invalid body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No registration found for this URL and scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhooks/payments/rotate-secret:
    post:
      tags: [Webhooks]
      summary: Rotate webhook secret
      description: |
        Issues a new signing secret for your registered webhook endpoint.
        The new `webhookSecret` is returned only once — store it immediately.

        **Merchant-scoped API key:** send `webhookUrl` when you have multiple URLs registered; otherwise
        the single registration for that merchant is rotated. Do **not** send `merchantId`.

        **Account-scoped API key:** omit `merchantId` to rotate the account-level registration, or set
        `merchantId` to rotate that merchant's registration. Use `webhookUrl` when needed to pick a URL.

        Equivalent paths (same handler): `/webhooks/payments/rotate`, `/webhooks/rotate-secret`, `/webhooks/rotate`.
        If you terminate TLS on a reverse proxy, ensure these paths are forwarded (not only an exact match on `/webhooks/payments`).

        If `previousSecretExpiresAt` is set, the old secret remains valid until that time
        (grace period), giving you time to deploy the new secret before the old one stops working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRotateRequest"
            examples:
              merchantScoped:
                summary: Merchant-scoped key (typical)
                value:
                  webhookUrl: https://your-server.com/webhooks/dinaria
              accountScoped:
                summary: Account-scoped key, account-level webhook
                value:
[...]
