$body-background-color: #ffffff;
$sidebar-color: #f8fafc;
$border-color: #e2e8f0;
$link-color: #1b6ff0;
$btn-primary-color: #1b6ff0;
$base-button-color: #1b6ff0;
$body-text-color: #0f172a;
$nav-child-link-color: #475569;
$nav-list-link-color: #1e293b;
$code-background-color: #f1f5f9;
