---
---

.site-title {
  font-weight: 700;
}

.site-logo {
  height: 80px;
  max-height: none;
}

.site-logo img {
  height: 80px;
  width: auto;
  max-height: none;
}

.footer {
  font-size: 12px;
}
